[2015-07-22 17:41] danthorpe opened #26 "Block Condition"
Only execute the condition if the result of running a block is true.

[2015-07-22 19:15] danthorpe opened #28 "Support wrapping up CKDatabaseOperation"
We want `CKDatabaseOperation` to take part in Operations features.

[2015-07-23 11:25] danthorpe opened #29 "Improve the cloud condition errors."
If the use is not logged in, the error returned from CloudKit is nil, but the status is `.NotSet`.

[2015-07-24 11:58] danthorpe opened #30 "Support simple operation lifecycle logging."

[2015-07-24 15:28] danthorpe opened #32 "Support an if gated operation."
For example, use a `BlockCondition` to fail an operation if the block evaluates false, but here, we want to only produce a new operation if a block evaluates true, else just finish.

[2015-07-24 19:21] #32 closed

[2015-07-24 20:26] danthorpe opened #34 "Support a ReachableOperation"
While `ReachableCondition` will fail an operation if the network is not available, we also want a way to be able to run an operation when the network comes back.

[2015-07-24 22:39] danthorpe opened #35 "System Reachability timer doesn't fire correctly."
Hmm, I think there is an issue with the system reachability class. This is inherently hard to test unfortunately.

[2015-07-26 03:55] danthorpe opened #36 "Support old ABAddressBook authorisation condition."

[2015-07-27 14:56] king7532 commented on #36
THANK YOU! :)

[2015-07-27 22:02] danthorpe opened #37 "Example app - Permissions app"
- [ ] Create basic structure, to make it easier to add screens which demo usage.
- [ ] Address Book demo view controller.
- [ ] Location demo view controller.
- [ ] CloudKit demo view controller? This might be a bit tricky for demo code.

[2015-07-28 19:09] danthorpe opened #38 "Add Location demo to Permission example."

[2015-08-05 11:51] danthorpe opened #39 "User confirmation alert condition."
It's a fairly common requirement to get the user to confirm a destructive, or potentially destructive action. E.g. we ask the use if they're sure they want to delete a resource before we just do it.

So... here we want an `UserConfirmationCondition` which can be initialised with a title, message and action title and it will present an alert (to this effect) and if the user taps in the affirmative,

[2015-08-09 22:55] danthorpe opened #40 "Improve the README"

[2015-08-10 16:47] danthorpe opened #41 "Restructure project so that it builds directly from git clone."

[2015-08-11 00:04] jshier opened #42 "Using GroupOperation"
I'm having trouble understanding how to use `GroupOperation`. I have a networking layer (Alamofire based) that I've wrapped in a `NetworkOperation` (`Operation` subclass). I want to create `GroupOperation` subclasses that allow me to encapsulate these `NetworkOperation`s along with some optional operations that should be done if the initial network request fails with a particular error (user token

[2015-08-11 09:36] danthorpe commented on #42
Hi @jshier - thanks for getting in touch - I hope I can help resolve the problem (I know that documentation is sorely lacking).

My initial thoughts are:

1. Can you share the `NetworkOperation` class - just how it sets up, executes, and calls finish?
2. In `InterruptibleNetworkOperation` I think you can drop the `emptyOperation`, as `GroupOperation` already has exactly this concept, and it's priv

[2015-08-11 10:14] danthorpe opened #43 "Update Swift 2.0 branch"

[2015-08-11 10:18] danthorpe commented on #42
Also, if you're using the `swift_2.0` branch - this is quite a way behind `development` and is likely going to cause you some problems. I'm updating it now in #43.

[2015-08-11 13:45] danthorpe commented on #42
Okay, the swift_2.0 branch is now at version 0.10.1 (the latest). You should now be able to put this into your `InterruptibleNetworkOperation`:

[code]

I would probably consider refactoring your `NetworkOperation` so that you have a protocol `NetworkOperationType`, and then write you `InterruptibleNetworkOperation` like this:

[code]

[2015-08-11 13:55] danthorpe commented on #42
But... I'll just add here, that all of this is not really the best way of doing what you want to do. I don't know much about your network stack, but I would turn your invalid token logic into an operation condition. Something like...

[code]

The condition needs to be able to evaluate itself - you could do something like use a TTL for your credentials?

Also the condition can provide a dependency

[2015-08-11 15:57] jshier commented on #42
Unfortunately the user tokens can't just expire but also be invalidated by the same account logging in somewhere else, so any network call to my backend (which I have little influence over) can fail with expired token error.

Here's the `NetworkOperation` source you asked for. I'm using Argo in combination with Alamofire for the underlying `Request`s . So I'm already using `finish(error)`.
[code]

[2015-08-11 16:11] danthorpe commented on #42
Okay, so I guess it's not possible to create an condition.

I didn't mention a delegate method however, there are no delegates. So, what you should do, is remove the error parameter from your `NetworkOperation`'s completion block. Instead, handle errors via the failure mechanism of `Operation`. Like this:

[code]

I think you initial assessment of what is going on is correct, because inside your c

[2015-08-11 16:13] danthorpe commented on #42
Regarding iOS7 - I hadn't really thought about it, but I guess in the Swift 2.0 branch then I can make it work all the way to iOS 7, so yeah will be happy to do it.

[2015-08-11 16:14] danthorpe commented on #42
FYI - made a few mistakes in that code example - updated it a few times, if you're only going by GitHub's emails.

[2015-08-11 22:11] jshier commented on #42
The logic you posted:
[code]
I'm not sure this is going to work. My `AccountRefreshOperation` leads to two options. Either the user has successfully logged in again and the `Account` has been refreshed, or the user has logged out, in which case it's pretty easy to return a special error and check for it in `operationDidFinish(_: withErrors:)`. However, to regenerate the original operation with the

[2015-08-11 23:20] jshier commented on #42
@danthorpe Thanks for the help. Here's what I've come up with so far. I didn't do the protocol you suggested, as I couldn't get it to work cleanly with the subclasses and the operations need to be regenerated at the group level, not the operation level, since `NetworkOperation` is generic as to the request and completion handler fed into it.
[code]
Any issues you can see? I'm going to try implemen

[2015-08-12 09:05] danthorpe commented on #42
Err, well I don't really like there is an error that isn't an error? But I also didn't quite follow where the `RefreshCompletionState` comes from? It looks as though like your network layer mixes authentication/authorization state with errors so there isn't much else you can do but mix your control logic with your errors too.

Writing this framework it's been quite instructive to see how Apple's A

[2015-08-12 13:45] danthorpe opened #44 "Fix build scripts for iOS 9 destination."

[2015-08-12 14:01] #44 closed

[2015-08-12 18:23] jshier commented on #42
I added the `RefreshCompletionState` enum as an `ErrorType` because that seemed to be the easiest way to get the state of the refresh from the `AccountRefreshOperation` to `InterruptibleNetworkOperation`. Perhaps some expansion of the API to allow for data besides errors would be a good idea?

There is no authorization state in this app. Like I said, we get a token back with the login call which c

[2015-08-12 18:28] danthorpe commented on #42
Operations (and NSOperations) are classes - they can store their own state. There is no need to pass everything via completion handlers. If a GroupOperation subclass maintains references to its child operations, and you need to pass data or state from one child to another, then storing the data in properties, is a good way to achieve this. e.g. Operation A stores it's results, when it finishes, th

[2015-08-12 18:30] danthorpe commented on #42
@jshier I'm going to close this issue, not really sure how much more I can help you. I will use some of the things we've discussed here in some sample code, wiki pages as part of the documentation for GroupOperations.

[2015-08-12 18:30] #42 closed

[2015-08-12 21:28] danthorpe opened #45 "Fix the initializers of AddressBookOperation to aid subclassing."

[2015-08-13 18:27] danthorpe opened #46 "Address Book operations pt II"
- [ ] Add record with id to group with name.

[2015-08-14 11:09] danthorpe opened #47 "Possible to create a deadlock using mutual exclusive conditions and group operations."
It is possible to achieve a deadlock through the use of mutually exclusive conditions (such as alert) and group operations.

When a group operation has a child operation which has a mutually exclusive condition. Adding a condition with the same mutual exclusivity condition type to the group will create a deadlock. This is because the child's condition is added first to the exclusivity manager, and

[2015-08-14 11:27] danthorpe opened #48 "Clean up AddressBookOperations, ensure silent boolean is available."

[2015-08-14 13:21] danthorpe opened #49 "Add a remove & consolidate address book group operation."

[2015-08-14 20:15] jshier opened #50 "Crash in operation dealloc"
If you remember my previous question, I have a `NetworkOperation`, which wraps an Alamofire `Request`. I'm attempting to update my operations to not use the completion handlers but store state in the class, as suggested. However, after making that change I'm hitting a crash at runtime when the operation is deallocated. Here's my operation:
[code]
And here's the crash:
[code]
I suspect this is just

[2015-08-15 01:38] danthorpe commented on #50
Hey @jshier haven't seen anything like this....

Can you change your request handler closure to not capture self, use [weak self] or [unowned self]. While this retain cycle might not be the cause, it's probably going to confuse this debugging.

If that doesn't fix it - can you share a mini project that re-produces the crash? Can you share/attach the request class?

[2015-08-15 21:59] danthorpe opened #51 "Search for Address Book records operations"
- [ ] By first name, last name, email address, phone numbers etc.

[2015-08-15 22:16] danthorpe commented on #51
Actually - not necessary, just as easy to map all the records using existing operations and then perform analysis.

[2015-08-15 22:16] #51 closed

[2015-08-17 21:29] jshier opened #52 "Alternate paths through a dependency chain"
So I have a chain on three operations. However, if the first operation fails, I would like to skip to the third operation. How can I express this? My current idea is to build the full dependency chain and then in `operationDidFinish` check to see which operation finished. If it's the first, check the property I care about, and if it's good, let the process continue unchanged. If it's bad, cancel t

[2015-08-17 22:18] danthorpe commented on #52
Well, you can attach a `BlockCondition` to the 2nd operation.

The condition will only allow an operation to execute if the block it is initialized evaluates truthfully. So you would need to test some property of your group operation inside that block. i.e. something like this...

[code]

[2015-08-17 22:44] jshier commented on #52
I didn't realize `OperationCondition`s didn't kill the entire dependency chain. Is that configurable? If I want to kill the entire chain, how could I do that?

[2015-08-17 22:45] danthorpe commented on #52
What do you mean by "kill the entire dependency chain"?

[2015-08-17 22:53] danthorpe commented on #52
The dependency management of `Operation` is the same as `NSOperation`. That means that eventually all operations Finish. And when they finish, then any `NSOperation`s which are depending on them become Ready.

The concept of a "Success" and "Failure" is something which you are attributing to whatever the task is your `NSOperation` subclass is performing. Neither `NSOperation` nor `Operation` knows

[2015-08-17 23:02] jshier commented on #52
Thanks for the explanation and solution.

[2015-08-17 23:02] #52 closed

[2015-08-17 23:02] danthorpe commented on #52
@jshier did `NoCancelledCondition` and `BlockCondition` work for you?

[2015-08-17 23:30] danthorpe commented on #50
@jshier any news on this ticket?

[2015-08-18 19:37] danthorpe opened #53 "Bring Swift 2.0 branch up to date."
Will update the Address Book Operations into `Contacts.framework` equivalent ones.

[2015-08-18 23:12] danthorpe opened #54 "Create presentation operations for AddressBookUI"
- [ ] ABNewPersonViewController
- [ ] ABPersonViewController

[2015-08-19 00:16] jshier commented on #50
I'll see if I can create a minimized project that reproduces this, but it'll be a little while before I have time.

[2015-08-19 00:29] jshier commented on #52
I'll have to create some tests to make sure, but the logic sounds correct. I should be able to write some tests soon to double check.

[2015-08-19 01:14] danthorpe commented on #50
But what about the retain cycle - I'm pretty sure this is causing the crash. The operation owns the request, the request owns a closure, which strongly captures self. At the very least you've got a memory leak as the operation can never be released.

If you just change the closure to capture self weakly using [weak self] then it will not crash.

[2015-08-19 09:56] danthorpe commented on #50
I'm going to close this issue, as it's not re-producible without deliberately introducing a retain cycle.

[2015-08-19 09:56] #50 closed

[2015-08-28 19:18] danthorpe opened #57 "Change Cloud Operation to be a normal Operation type."

[2015-08-28 22:14] danthorpe opened #58 "Support generic composition of bog standard NSOperation inside an Operation"

[2015-08-30 12:22] danthorpe opened #60 "Update Swift 1.2 with recent changes in Swift 2.0"
Also there is a slight bug in how `Operation` evaluates readiness, which should be sorted. Also, I'm thinking that the internal `State` should be made thread safe...

[2015-08-30 14:11] danthorpe opened #61 "Setup OS X test targets."
For full OS X support need to be able to run tests...

[2015-08-30 17:45] danthorpe opened #62 "Two identical conditions fail to evaluate correctly"

[2015-08-30 18:16] mblsha opened #63 "Tests take too long to finish"
Most test operations have execution times of a second. Taking that there are many tests, the whole suite as a whole takes too long to run.

I think it would be possible to make most of them instant (0-second delay), and for those that rely on timers make intervals very small (`0.01` second should be fine, I think).

[2015-08-30 18:50] danthorpe commented on #63
@mblsha I agree. I want to refactor the base `OperationTests` class to make the tests easier to write failing tests. Will address this at the same time. Reduce the default time of `TestOperation`.

[2015-08-30 18:51] danthorpe commented on #63
Currently I find that the whole suite takes ~ 1 min? Are you experiencing about the same?

[2015-08-30 19:28] mblsha commented on #63
Yeah, it takes about 55 seconds in total.

[2015-08-30 23:29] danthorpe opened #65 "Back port UIOperation to Swift 1.2"

[2015-08-31 13:57] danthorpe opened #66 "Reduces speed of Tests in Swift 2.0 branch"

[2015-09-02 18:47] danthorpe opened #67 "Add reverse location look up operation"

[2015-09-02 21:39] danthorpe opened #68 "Fix and fill out AddressBookPerson properties"
There are a few things missing.

- [ ] General home/work labels
- [ ] modification date property should be writeable
- [ ] other missing properties (not sure what they are now, will audit)

[2015-09-03 13:46] danthorpe opened #69 "Improve quality of the possible errors returned by AddressBook tasks."

[2015-09-03 16:15] danthorpe opened #70 "Update Swift 2.0 branch"
With Address Book related changes.

[2015-09-05 18:01] danthorpe opened #71 "Update build scripts on development to Fastlane"

[2015-09-05 18:58] danthorpe opened #72 "Update Swift 2.0"
Recent changes in development....

- [ ] Reverse Geocoding & User Location Operation

[2015-09-05 21:26] danthorpe opened #73 "Audit public interfaces"
There are a number of initializers which are necessarily public for Swift 1.2 testing. For Swift 2.0 these need to be audited and made private.

[2015-09-06 17:05] danthorpe opened #74 "Finish AddressBook external change observers"

[2015-09-09 22:04] danthorpe opened #75 "[Crash]: When creating address book after permission has been denied"

[2015-09-11 10:37] danthorpe opened #76 "Update Swift 2.0 to latest development"

[2015-09-11 17:21] sixten opened #77 "Condition to cancel/skip an operation without error?"
Say that I have an operation that I want to perform when certain conditions are met, but not otherwise, and that skipping the operation should be done without prejudice. This becomes especially important within a `GroupOperation`, where any failed operation causes the group to fail.

My first impulse would be to have the condition yield `Satisfied`, but cancel the operation. But `OperationConditio

[2015-09-11 17:40] sixten opened #78 "NSError vs ErrorType?"
One of the major differences between the original Apple sample code and this project seems to be that you've replaced the usage of `NSError` in the original with your `ErrorType` marker protocol. Can you explain a little about your motivations for doing so, and how you'd expect client code to use these values?

Leaving aside the frustrating issues with Swift 1.2 / Xcode 6 printing enums, it seems

[2015-09-13 12:52] danthorpe commented on #77
Hi, you could use the `BlockCondition`,

[code]
Essentially, just provide a block which returns a `Bool`, and the block is executed when the conditions are evaluated. Returning `false` will mean the condition fails with error `BlockCondition.Error.BlockConditionFailed`

[2015-09-13 13:21] danthorpe commented on #78
Hi, this is a great question. Firstly, I wrote most of foundation/building blocks of the project using Swift 2, and then back-ported it to Swift 1.2. So, I started with an `ErrorType` protocol and I feel that this is going to be more forward compatible with Swift 2.

Yes, some of the system frameworks which have operations may produce `NSError` or `CFError` errors which are then provided as a unde

[2015-09-13 13:25] danthorpe commented on #78
One thing which I've been toying with and likely to happen in the near future is more built in logging mechanism into `Operation` directly - so this will help during development to make sure that your operations are executed as expected.

But, also perhaps a more specific `ErrorObserver` which would allow consumers to reuse error handling code. This would be great for errors like, login & authenti

[2015-09-14 15:41] sixten commented on #77
Hmm. Doesn't that exhibit the same behavior I'm trying to avoid, then? Namely: condition fails -> operation fails -> containing operation fails?

[2015-09-14 15:49] danthorpe commented on #77
Hmm, well, `NSOperation`s don't really have a concept of failure, they finish, and they may be cancelled. `Operation` collects aggregate errors, but the underlying `NSOperation` still finishes. And an `Operation` which finishes with an error doesn't stop and operations which depend on it from starting. (I've discovered that this is a common misconception).

So, is it a problem if your `GroupOperat

[2015-09-14 15:50] danthorpe commented on #77
I've corrected my answer which misleadingly uses the term "failed".

[2015-09-14 16:13] danthorpe commented on #77
So, to clarify your summation:

It's really... condition fails -> operation finishes without executing, with error from condition, -> containing group finishes, including error from condition.

[2015-09-14 16:15] sixten commented on #77
I realize that `NSOperation` doesn't have a concept of failure, but `Operation` (and `GroupOperation`) explicitly do. And "one of this operation's conditions wasn't satisfied" is given equal weight and visibility to "something this operation was doing went horribly awry." From the perspective of calling code, these failures are equivalent until and unless I do a bunch of casting and filtering to v

[2015-09-14 16:39] danthorpe commented on #77
Well, did you try just using a `GatedOperation`, which can be used in exactly the same way as a block condition.

[code]

And if you look at how `GatedOperation` works, you'll see that it's just a group operation which executes a block and adds the composed operation to it's queue if the result is true.

[2015-09-14 17:34] danthorpe opened #79 "Add documentation for 1.0 release"

[2015-09-14 21:57] jshier opened #80 "swift_2.0 branch broken?"
I know it was just updated, but I'm getting a bunch of build errors when I try to build the framework through CocoaPods. I get a bunch of 'PresentingViewController is ambiguous for type lookup in this context' errors, due to the duplicated protocol definition in `UIOperation.swift` and `UIOperations.swift`. Once that's fixed, I still get bunch of errors about the duplicate `UIOperation` declaratio

[2015-09-14 22:01] danthorpe commented on #80
Arrrrrr!!! Damnit! Okay, sorry, I must have fucked up a merge.

[2015-09-14 22:18] danthorpe commented on #80
@jshier try now?

[2015-09-14 23:26] jshier commented on #80
@danthorpe Works now, thanks for the quick turnaround.

[2015-09-14 23:30] sixten commented on #77
Ah! I hadn't noticed that class, no. I guess that answers the question of how you'd accomplish that. (I'd contemplated something similar: an operation that would act as a proxy, always finishing successfully, but conditionally producing the "real" operation if the preconditions were met.)

It still seems a little roundabout to me, but I don't really see a way to make conditions accomplish this wit

[2015-09-14 23:57] danthorpe commented on #77
Well, this is a class (along with ComposedOperation) which isn't in the Apple sample code.

I think probably because it's relatively trivial to determine whether or not to add an operation to a queue or not.

And, I'd go so far as to say, think twice before using GatedOperation as a child in a group - as it's going to needlessly use another internal operation queue. In this scenario I would just e

[2015-09-15 00:00] danthorpe commented on #80
n.p. I should add figure out a way to test this in CI.

[2015-09-15 10:36] #80 closed

[2015-09-15 10:41] danthorpe opened #83 "Back port convenience functions to Swift 1.2"

[2015-09-15 12:34] #77 closed

[2015-09-16 10:41] #78 closed

[2015-09-16 22:02] Antoine4011 opened #84 "Framework cannot be embedded in iOS Extension due to use of restricted APIs."
You're using UIApplication.sharedApplication(), but it's not available for extension.

Could you please make it optional if it isn't available? :)

Thanks.

[2015-09-17 00:03] danthorpe commented on #84
Yeah, ok. Will look into it tomorrow.

[2015-09-17 22:39] danthorpe commented on #84
Hi @Antoine4011 I've been looking into this - I've not built an extension before, so was not aware of this restriction. But I'm all over it now 😀.

The `UIApplication().sharedApplication` is used for a couple of features, `BackgroundObserver`, `NetworkObserver` and `RemoteNotificationCondition`. To proceed there are a couple of options:

1. These types are designed (for the tests) to have underlyi

[2015-09-17 23:11] Antoine4011 commented on #84
Hi @danthorpe

For my project, I would like to integrate it via pods in a shared framework for all my targets (iOS, watchOS, tvOS) so your second solution works I think. MixPanel chose this solution https://github.com/mixpanel/mixpanel-iphone/releases/tag/v2.8.0

A third option would be to add a preprocessor macro and to disable the unavailable code for extensions target. AFNetworking chose this s

[2015-09-18 11:06] Abizern opened #85 "Example Podfile points to non-existent branch"
https://github.com/danthorpe/Operations/blob/development/examples/Permissions/Podfile has a line:

    pod 'YapDatabaseExtensions', :git => 'https://github.com/danthorpe/YapDatabaseExtensions.git', :branch => 'swift_2.0'

But there is no swift_2.0 branch in that repository.

[2015-09-18 11:08] danthorpe commented on #85
Thanks @Abizern, switching everything over the other days has been a pain. I'm guessing you're using Swift 2.0?

[2015-09-18 11:09] Abizern commented on #85
Yep.

Can't do a `pod install` in the example directory.

[2015-09-18 11:09] danthorpe commented on #85
It's okay, I'll fix it now.

[2015-09-18 11:10] Abizern commented on #85
No rush. It's nice code and I'll probably steal it some time to write my own version.

[2015-09-18 11:14] danthorpe commented on #85
Well, it's really missing examples and documentation, and I want it to be accessible and easy to understand. Suddenly the project got some attention, so I'm now trying to fix all the mistakes!

But thanks and feel free to submit PRs for missing functionality 😀.

[2015-09-19 17:33] danthorpe opened #87 "Improve reliability of Location related unit tests"
For some reason these always seem to fail in CI

[2015-09-19 23:40] danthorpe commented on #84
Okay, I'm gonna do option 2, as it will also scale to OS X targets too. Stay tuned, should get this done Monday or Tuesday of next week.

[2015-09-20 18:36] Antoine4011 opened #89 "Support for tvOS"
With the new Apple TV, the support for tvOS would be great. :)

[2015-09-20 18:48] danthorpe opened #90 "Multiplatform support"
- [ ] OS X
- [ ] iOS Extensions
- [ ] iOS Apps
- [ ] watchOS?
- [ ] tvOS?

[2015-09-20 18:49] danthorpe commented on #89
See #90.

[2015-09-20 18:49] danthorpe commented on #84
See #90.

[2015-09-21 00:12] danthorpe commented on #84
@Antoine4011 would you be able to test my implantation from #90 for this using this in your Podfile?

[code]

If your extension doesn't compile, can you screenshot/paste the error messages back here please? Thanks!

[2015-09-21 00:14] danthorpe commented on #89
Hi @Antoine4011 if you have a tvOS project... can you test my implantation from #90 for this issue, by putting this in your Podfile?

[code]

If your app doesn't compile, can you screenshot/paste the error messages back here please? Thanks!

[2015-09-21 13:41] danthorpe commented on #84
Okay, I've tested this myself, and it works as a dependency of say an iOS Today Extension. But with the current version of Cocoapods (0.38.2) it doesn't yet work as a dependency of a watchOS extension - although I think it will with a new Cocoapods.

[2015-09-21 13:44] danthorpe commented on #61
Fixed in #90

[2015-09-21 13:44] #61 closed

[2015-09-21 13:45] danthorpe commented on #84
Fixed in #90.

[2015-09-21 13:45] #84 closed

[2015-09-21 13:45] danthorpe commented on #89
This is fixed in #90 for non-Cocoapods builds.

[2015-09-22 17:54] danthorpe opened #91 "LabelledValue not reading labels correctly in iOS when built with iOS 9."

[2015-09-24 12:13] danthorpe opened #92 "Bug, AddressBook has some strange behavior with Swift 2.0 & when build against iOS 9."
Some of the C function calls which return `Unmanaged<T>!` are not unwrapping correctly.

[2015-09-24 14:49] danthorpe opened #93 "Contacts"

[2015-09-25 04:09] phucnd0604 opened #94 "objective C support?"
is there objective C version?

[2015-09-25 07:46] danthorpe commented on #94
Sorry @phucnd0604 the framework is Swift only. I have no plans to write an Objective-C version. Come join the Swift party!

[2015-09-25 07:46] #94 closed

[2015-09-28 14:03] danthorpe opened #95 "Contacts #2"

[2015-10-01 10:36] danthorpe opened #96 "NSURLSessionTask Operation"
In the original Advanced NSOperation project there is a wrapper for an `NSURLSessionTask` which we don't actually have yet.

[2015-10-01 17:04] danthorpe opened #97 "Generic and unified authorization interface."
Currently, testing the authorization of device or service capabilities is a fractured and verbose process. What I want to have is a unified and simple interface to figure out the authorization state of whatever capability.

Therefore, it requires a single `status` enum, a generic `AuthorizationStatus` operation, with a generic parameter which will accommodate everything from `ABAddressBook` to `He

[2015-10-05 13:10] danthorpe opened #98 "Improve Cloud Capability"
This is the most tricky one as it's asynchronous - but also, the capability should expose access to it's underlying `CKContainer`.

[2015-10-05 22:02] danthorpe opened #99 "Support CapabilityType in AddressBook & Contacts"
I want to unify AddressBook & Contacts functionality, so that framework consumers do not need to jump through `#available(iOS 9, *)` hoops. This is the functionality that I want. I'm going to keep it under an "AddressBook" name.

- [ ] Get Contacts
- [ ] Map Contacts
- [ ] Get Group
- [ ] Create Group
- [ ] Remove Group
- [ ] Add Contacts to Group
- [ ] Remove Contacts from Group

Merging the actu

[2015-10-06 16:30] danthorpe opened #100 "Documentation Blitz"
Documentation in the source code is pretty dismal - less than 10%. So, will aim to fix that in a number of tickets for 2.3 release.

In this ticket...
- [ ] Core / Foundation

In future tickets...
- [ ] Core / Conditions
- [ ] Core / Observers
- [ ] Core / Operations
- [ ] Features / Capability
- [ ] Features / Conditions
- [ ] Features / Operations
- [ ] Features / Support
- [ ] Extras / AddressB

[2015-10-07 15:31] danthorpe opened #101 "Bug with ReachableOperation"
There is a subtle bug with `ReachableOperation`, which can result in the composed operation not executing even though the network is reachable.

The scenario is simply that the first time a `ReachableOperation` is executed, it will setup it's fire mechanism with no reachable flags. Therefore - there is a change, and all observers are notified.

However, if you then create another `ReachableOperati

[2015-10-08 19:57] jshier opened #102 "Proper cancellation?"
In the process of implementing a logout handler for a special operation queue I use for all of my network operations, I've become confused as to what the proper cancellation behavior should be for `Operation` subclasses. For context, this is my `NetworkOperation` that wraps an Alamofire `Request`:
[code]
These operations are wrapped by a `GroupOperation` subclass that can be wrapped by yet another

[2015-10-09 09:42] danthorpe commented on #102
Hi @jshier.

Firstly, I agree - I find `NSOperation`'s state machine *is* a bit confusing in some edge cases like this!

Unfortunately I haven't got time to properly dig into what is happening here for you, but I can clear up a few questions, and I have some of my own....

1. Regarding the overriding of `start()`. In #37 I made some bug fixes to `Operation` after discussing things with Dave DeLong

[2015-10-10 15:59] danthorpe opened #103 "Add Code Coverage"

[2015-10-10 18:12] davedelong commented on #102
Regarding question 4:

Fundamentally, the implementation of `-[NSOperation cancel]` does this:

- If the operation has already finished, `return`
- `willChangeValueForKey:@"isCancelled"`
- thread-safely change an ivar
- `didChangeValueForKey:@"isCancelled"`
- If the operation hasn't begun executing yet, also `will/didChangeValueForKey:@"isReady"`

[2015-10-10 18:45] danthorpe commented on #102
Thanks for that @davedelong. Don't suppose you shed any light on the warning that @jshier is seeing when he cancels all operation on a queue which contains groups?

[2015-10-19 19:08] jshier commented on #102
@danthorpe I'm investigating this issue again and have discovered that if I cancel a `GroupOperation`, I get the warning message for the operations that have been added and not yet executed when I tell the `OperationQueue` that's running the `GroupOperation` to `cancelAllOperations()`.

However, it seems the message is only triggered for operations that were dependent on other operations. My thoug

[2015-10-19 19:26] danthorpe commented on #102
@jshier sorry I've not had time to spend looking into this - I hope to get to it this week.

I think your analysis and suggestion make a lot of sense - clearly it's something to do with cancelling group operations. However, if your hypothesis is correct - then we should be able to re-create the scenario with bog standard `NSOperation` and `NSOperationQueue`? i.e. create a few queues, with some ope

[2015-10-19 19:27] jshier commented on #102
I'll see if I can replicate the message with just standard `NSOperation`s and `NSOperationQueue`s.

[2015-10-19 20:20] jshier commented on #102
@danthorpe Additional debugging has lead me to realize that, in the cancellation case, my handling of `.finish(error)` in my `NetworkOperation` was flawed. The response blocks for Alamofire `Requests` are called even when the request is cancelled, and I was calling `finish(error)` with the error that was returned. However, in that case the operation had already been moved to the cancelled state an

[2015-10-19 20:48] danthorpe commented on #102
Okay, well this is good progress. Would it be possible for you attach a block observer to your `NetworkOperation` and see if it's finish block is called when the operation/request is cancelled?

I can see that what you're doing will stop the warning, but I don't want the operation to proceed into the finished state & perform those housekeeping tasks.

[2015-10-19 21:08] jshier commented on #102
A `BlockObserver` doesn't have any of its closures called with an operation that's cancelled before it begins, but my custom logging observer did have `operationDidFinish` called, without first having `operationDidStart` called (which messes up my duration timing).

[2015-10-19 21:14] danthorpe commented on #102
@jshier okay - well, not having the closured called for operations which are cancelled before it starts is correct. And having `operationDidFinish` called without a corresponding start is correct too - but perhaps unexpected and maybe should be augmented to indicate that it was cancelled. Either another closure, or a flag in the finished.

What do you think?

[2015-10-19 21:55] jshier commented on #102
Perhaps some documentation would be good, but it's pretty easy to check if the operation was cancelled by checking `operation.cancelled` in `operationDidFinish`. I just had to know to do that first.

[2015-10-20 01:09] jshier commented on #102
Aside from documentation, I do still wonder if perhaps there should be additional checking in `finish()` so that subclasses don't have to be so careful in this case.

[2015-10-21 23:22] danthorpe commented on #102
@jshier Okay, so, I'm still a little bit hazy over what the problem was here and what solution, if any is needed.

Just documentation to say... to check the `cancelled` property of finished operations?

[2015-10-21 23:40] jshier commented on #102
The ultimate issue was that I was calling `finish()` after the operation had been cancelled, which had set `cancelled` and `finished` to `true`, as mentioned earlier in this thread. My suggestion was that perhaps there should be logic built into `finish()` in `Operation` so that subclasses don't have to do that check whenever they want to call `finish()` themselves. Barring that change, it seems l

[2015-10-21 23:42] danthorpe commented on #102
Okay - thanks @jshier, will add this check into the `finish` function.

[2015-10-21 23:45] jshier commented on #102
Thanks, that would be great.

[2015-10-22 19:30] danthorpe opened #104 "Investigate BuildKite auto generated build pipelines..."
BuildKite supports a pretty powerful feature for [uploading build pipelines](https://buildkite.com/docs/agent/uploading-pipelines). Which is essentially a way to store the build pipeline (i.e. what happens on a build) inside a file within source control, and have them uploaded to the agent / checked out at runtime.

The aim of this ticket is to re-create the current build which does

[code]

but i

[2015-10-23 15:48] danthorpe opened #105 "Refactor Reachability to include as much testing as possible."
Currently the Reachability stuff is not at all tested, partly because it'll be very tricky, but also the architecture doesn't help it.

[2015-10-23 19:14] danthorpe opened #106 "Test Coverage Blitz - Fix some unreliable tests"
The Location operations seem to be the most unreliable.

- [ ] Location Tests

[2015-10-26 16:04] danthorpe opened #107 "Test Coverage Blitz - Get some low hanging fruit"
Address Book related stuff is the least well covered.

[2015-10-30 15:54] danthorpe opened #108 "Logging"
There is currently a `LoggingObserver` which is handy but also quite limited as it only logs stuff like when the operations starts & stops etc. I want to be able to support a standard logger as part of the base `Operation` class.

- [ ] The logger is a closure that receives a `String` & log level enum.
- [ ] By default it will just `print` the string.
- [ ] Consumers would be able to set their own

[2015-11-25 17:23] danthorpe opened #109 "Documentation Blitz #2"

[2015-12-03 14:21] eliOcs opened #110 "Why do operations start if their dependencies have failed?"
Even though the condition `NoFailedDependenciesCondition` exists, I can't figure a case when it is useful for an operation to start if its dependencies have failed. What is the use case for this behaviour and why is it the default behaviour.

[2015-12-03 14:50] danthorpe commented on #110
Hi - firstly, thanks for the feedback.

This is a bit of a recurrent gotcha, there was a previous issue which touched on it here: https://github.com/danthorpe/Operations/issues/77

`NSOperation` doesn't have the concept of failure - operations start and then finish. If they are cancelled in time, their `main()` function isn't executed. With this mechanism, operations with dependencies start when a

[2015-12-03 15:11] eliOcs commented on #110
Thanks for your reply!

I completely understand that the current implementation is heavily influenced on the NSOperation implementation. When it comes to real life examples it is useful for operation to produce errors and results.

Nice to hear you are working on an improvement :+1:

[2015-12-03 15:11] #110 closed

[2015-12-03 17:14] JamieWhite opened #111 "iOS 9 warnings for deprecated AddressBook"
What's the best way to silence these?

I'm targeting iOS 9 and using carthage to include this in my project. I got a load of warnings when compiling the frameworks and continue to get warnings from my xcodeproj that imports the framework.

[2015-12-03 18:25] danthorpe commented on #111
Hi @JamieWhite - thanks for the feedback.

Unfortunately, if using Carthage there isn't much that can be done about this right now. With CocoaPods the AddressBook stuff is not included by default.

However, I'll look into fixing this one way or another as it must be a pain. Stay tuned for a point release...

[2015-12-04 10:11] JamieWhite commented on #111
Cool thanks. I think I'll fork for now and rip out the AddressBook stuff.

[2015-12-04 10:14] JamieWhite opened #112 "iOS extensions warnings when building via carthage"
How do I build the iOS extensions framework so I can silence the extension warning?

[2015-12-04 10:35] danthorpe commented on #112
Hi @JamieWhite, I there is a bug here I think, the module names are all just `Operations` and so the files made for the framework is just `Operations.framework` which means that while Carthage does correctly build all the frameworks, when it builds the `iOS` framework it overwrites the `iOS-Extension` framework.

If you have a fork, you could rename the Product Name in the iOS Extension target to

[2015-12-04 10:43] danthorpe commented on #111
Okay, for what it's worth, I should be able to fix this today and released 2.4.1, as I think it's fairly trivial, see my answer from two months ago: http://stackoverflow.com/questions/31540446/how-to-silence-a-warning-in-swift-2-0/32970249#32970249

But if you've got stuff to do, just need to untick them from the targets. When I release v3.0 I'll drop support for iOS 8 and they'll get removed.

[2015-12-04 11:32] JamieWhite commented on #112
Seems someone has spoke to Carthage about this: https://github.com/Carthage/Carthage/issues/933

[2015-12-04 11:40] JamieWhite commented on #111
I was previously using PSOperations but I saw you have better swift support so I thought I'd see how easy it would be to migrate. I've got migration for this in a branch (it was really easy). For the time being I'll just keep using PSOperations if you're planning on sorting this out in 2.4.1

[2015-12-04 11:42] danthorpe commented on #111
Okay, sounds good. I will close this issue when a release is available which has removed these warnings - so you'll get notified.

[2015-12-04 21:20] danthorpe commented on #111
Hi @JamieWhite, just a quick update on this. It's been fixed, and is in `development` branch. The other issue with the extensions - that's a more tricky issue, see: https://github.com/danthorpe/Operations/pull/114 currently waiting for a PR in Carthage to be merged.

I'm considering releasing the fix for the warnings as 2.4.1 - was wondering if you were able to point your `Cartfile` at the `develo

[2015-12-04 22:06] JamieWhite commented on #111
Works fantastic now. I built then saw the same warnings... then trashed my deriveddata folder and rebuilt then the warnings went.

I don't even get the extension warning now for some reason. I have a feeling that's an xcode issue though and it'll likely crop up again later.

Thanks for your rapid response on this though.

[2015-12-04 22:07] danthorpe commented on #111
Okay, I'm gonna do a point release for this. Thanks for getting back to me and for raising the issues!

[2015-12-04 22:12] JamieWhite opened #115 "GroupOperations aggregateErrors"
Is there any reason this is an internal method?

[2015-12-04 22:17] danthorpe opened #117 "Update CI on development to match pending changes"

[2015-12-04 22:23] #117 closed

[2015-12-04 22:45] JamieWhite commented on #111
No problem. Thanks for building this awesome framework from that also awesome NSOperations sample

[2015-12-04 22:45] danthorpe opened #118 "Sort out code coverage"

[2015-12-04 22:55] danthorpe opened #119 "Sort out flaky unit tests"
There are a few unit tests which often seem to be the ones which fail randomly.

- [ ] `ReverseGeocoderTests` - test__reverse_geocode_starts_geocoder
- [ ] `GroupOperationTests` - test__group_operations_are_performed_in_order
- [ ] `BlockOperationTests` - test__that_block_operation_with_no_block_finishes_immediately
- [ ] `GatedOperation` - test__when_gate_is_closed_operation_is_not_performed
- [x

[2015-12-05 13:21] #115 closed

[2015-12-05 14:36] JamieWhite commented on #111
Well it looks like these warnings are showing up for me again. The problem seems to be in the generated Objective C header.

[2015-12-05 14:39] danthorpe commented on #111
Hi @JamieWhite - can you check on the `release/2.4.1` branch?

[2015-12-05 15:01] JamieWhite commented on #111
Seems to still be occurring.

Cartfile: github "danthorpe/Operations" "release/2.4.1"
Cartfile.resolved: github "danthorpe/Operations" "a5757a66106c4a72f010c67591a5461c8c566436"

[2015-12-05 15:03] danthorpe commented on #111
Yeah, I'm looking into it too - I think before, I marked all of the types as deprecated, which removes the warnings - but these don't get auto generated (in Operations-Swift.h) as you say. Hmm, not really sure about this. Maybe just pull the trigger, release v3.0 move to iOS 9.0 deployment target and remove them? It's the Apple way!

[2015-12-05 15:09] JamieWhite commented on #111
Is there any way we could conditionally compile the addressbook stuff? So basically don't include it when built for iOS 9

[2015-12-05 15:12] danthorpe commented on #111
I don't think it's possible to conditionally compile based on the deployment target. We always build against latest, but you're deployment target is > 8 which is why you're seeing the warnings. But, some people are definitely still supporting iOS 8 - so I can't break things working without a major new version.

This is actually where CocoaPods has some advantages I think, because it will import th

[2015-12-05 15:17] JamieWhite commented on #111
Would it be insane to drop Objective C support?

[2015-12-05 15:18] danthorpe commented on #111
@JamieWhite what warnings do you see? I get this...

![warnings](https://cloud.githubusercontent.com/assets/309420/11608503/5aa383ca-9b63-11e5-9f17-b16a84d2db9a.png)

[2015-12-05 15:20] danthorpe commented on #111
Well, I've been planning (mostly thinking about how) to do a version which doesn't use `NSOperation` and `NSOperationQueue` - given the foundation open source news, this is really interesting, as they're going to effectively open up the source of `NSOperation` - see: https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/NSOperation.swift

But, I mean, Swift by default inter-ops

[2015-12-05 15:22] danthorpe commented on #111
But anyway, I only get 3 warnings now - which is significantly better than it was? And I can probably fix this by using `Int32` or a typealias instead of `ABRecordID` in those signatures.

[2015-12-05 15:27] JamieWhite commented on #111
I get the same warnings as you. The fix you suggested sounds good

By dropping Objective-C I was suggesting not generating the Objective C header - your fix sounds is obviously much better and less drastic.

and yeah it's going to be exciting to see how Apple implements some of these things.

[2015-12-05 15:29] danthorpe commented on #111
Okay, I think  I've fixed this now...

Cartfile:
[code]

carthage command:

[code]

No warnings:

![no warnings](https://cloud.githubusercontent.com/assets/309420/11608575/f6d8513e-9b64-11e5-854d-cd886f29e910.png)

[2015-12-05 15:35] JamieWhite commented on #111
Sorted :+1:

[2015-12-05 15:42] danthorpe commented on #111
Note also, that if you do use AddressBook related stuff - with a minimum deployment set to 9.0, then you get deprecation warnings..

![get warnings](https://cloud.githubusercontent.com/assets/309420/11608635/d0e3b3fe-9b66-11e5-8034-3b714e7e910e.png)

[2015-12-05 15:46] JamieWhite commented on #111
I think you'd be daft to use AddressBook when you have the new Contacts stuff.

[2015-12-05 15:52] danthorpe commented on #111
Yeah, but again, I wrote it when I needed it for iOS 8 minimum deployment stuff. And I've actually just discovered a bug here!

That is definitely an issue with `@testable` - it's very easy to accidentally leave a property as internal instead of public.

[2015-12-05 15:57] danthorpe commented on #111
Okay, so I think we're good with 2.4.1 yeah?

[2015-12-05 16:10] JamieWhite commented on #111
Yeah. Good work.

[2015-12-05 16:11] danthorpe commented on #111
Yeah, just sorting out the docs now - so that the podspec will lint.

[2015-12-05 16:12] danthorpe commented on #111
Thanks for all your help with this @JamieWhite - if you find any more issue, just create an issue and I'll sort them out. I'm not actively using this framework much at the moment - but want to keep on top of it. Similarly, if there is anything feature wise which is missing - let me know. :)

[2015-12-05 16:39] danthorpe commented on #111
Okay, closing this now, 2.4.1 is released which has a fix for the issue.

[2015-12-05 16:39] #111 closed

[2015-12-10 01:21] jshier opened #121 "Crash when logging UserLocationOperation"
I created a simple `OperationQueue` manager to find the current user location:
[code]
Attempting to run it as so:
[code]
(I have my own `log` function)
Results in a crash in `Logging.swift` line 271. `EXC_BAD_ACCESS (code=EXC_I386_GPFLT)` Earlier in the call stack is `LocationOperation.swift`, line 141. This is on the main thread.

[2015-12-10 01:51] danthorpe commented on #121
Hi @jshier - sorry about this. I must have missed something in the logging stuff I've added recently. It's almost 2am now, but will look into this tomorrow/later.

[2015-12-10 11:36] danthorpe commented on #121
Hi @jshier is there any chance you could take a look at the Permissions example project on the branch in #122

I have added to the Location example your Manager class (more or less, you don't call the completion handler in the code above).

And when I run this I get...

Without any crashes.

According to your stack trace, it's crashing when it's figuring out the operation name which is "User Locat

[2015-12-11 02:42] difujia opened #123 "NSOperation's completionBlock is called twice."
Try the following test.
[code]
Then the test runner will log:

The same error appear even if I set the `completionBlock` directly, which I think make no difference when only one completionBlock exists.

*Discussion* Xcode would not always stop the test as the error pops up, I think this is due to a race condition that the second call of `fulfill()` may happen either before or after `waitForExpecta

[2015-12-11 09:23] danthorpe commented on #123
Hi @difujia, thanks for the feedback. This is a great spot, and may explain some of the flaky unit tests in #119. Will look into it today.

[2015-12-11 11:40] danthorpe commented on #123
Looking into this more closely. Have re-produces your exception. Hmm, I think you're right about a race condition with regard to fulfill - which explains why some of the tests are inconsistent (I need to refactor them).

But, also, there is this test: https://github.com/danthorpe/Operations/blob/development/Tests/Core/OperationTests.swift#L142 which admittedly doesn't test against multiple invocat

[2015-12-11 12:18] danthorpe commented on #123
Okay, so more info. This bug doesn't have anything to do with chaining completion blocks (as @difujia said). Changing the test case a little bit to see what's happening into this:

[code]

Will output the following in the test runner logs:

[code]

Notice that as the operation transitions `Finishing -> Finished` is when the Test Case passes and the completion block is executed - and yes, it's exec

[2015-12-11 14:34] danthorpe commented on #123
Okay, think I'm getting to the bottom of it. I've added a KV observer to the `isFinished` property. When this is asserted the completion block is executed. So I have this in my observer (the test case):

[code]

And if you put a break point on the 2nd assertion that isFinished is true, it's from the `start` method of `Operation` where we call `super.start()`. FYI - this is exactly what the docs sa

[2015-12-11 16:09] danthorpe commented on #123
Okay, so, the override of `start` is not relevant. In fact, I think this code is actually redundant, as the equivalent cancellation logic exists inside `main()`. So the start override can be removed. All the tests still pass, except the one with the completion block being run twice.

[2015-12-11 17:58] danthorpe commented on #123
Hi @difujia - pretty sure I've fixed this now. The bug was not as wide reaching as I initially thought it might be, as I could only re-produce it using `BlockOperation` and in particular the style of block which is used for the default block implementation.

If you're able to install Operations from the development branch and re-check, that would be great. I'll leave this issue here until it's ver

[2015-12-11 19:33] jshier commented on #121
@danthorpe So it seems like this crash isn't really a crash but some sort of interaction with Operation's `log` and lldb. When I first wrote my `LocationManager` class I wasn't seeing the logging I expected as, as you found, I wasn't calling the actual completion handler. So I put a breakpoint on my `LocationManager.currentUserLocation` call point, hit continue, and it would break again in the log

[2015-12-11 20:04] jshier commented on #121
I take that back. I'm seeing the exception even with breakpoints disabled (but I'm still in debugging mode). I'll try your sample next.

[2015-12-11 20:08] jshier commented on #121
Yes, I get the same exception with your example project. Here's the output before it crashes on line 141 of `LocationOperation.swift`.

[code]

As an aside, is there an easy way to completely disable logging for the library? I don't usually need it as I've built my own logging `OperationObserver`.

[2015-12-11 20:42] danthorpe commented on #121
@jshier - just going through your comments here...

I don't think this is related to #123 - that is only an issue with `BlockOperation` and the _UserLocationOperation subclasses `Operation`, and the completion block it takes as an argument is not the same as `NSOperation`'s `completionBlock` property.

One thing that might be relevant is that I typically never test CLLocation stuff using the simul

[2015-12-11 21:05] danthorpe commented on #121
Also... this kind of memoizing manager sounds pretty useful - perhaps something which could/should be added to Operations?

[2015-12-11 21:10] jshier commented on #121
Possibly. There's additional functionality it needs to be truly useful but `CLLocationManager` has always been a pain point for iOS developers.

[2015-12-11 21:20] danthorpe commented on #121
Okay, running the Permissions example works for me in the simulator - Xcode 7.2, iOS 9.2 on 10.11.2 - no exceptions, no crashes, and only one location.

Do you have any breakpoints setup?

Could this be because you have a `log` function and the operation has a `log` property - there is no reason why that would cause an issue right?

[2015-12-11 21:22] danthorpe opened #126 "Updated features of Logger"
- [ ] Use autoclosure
- [ ] Support global severity / enabled options.

[2015-12-11 22:25] danthorpe commented on #121
Ah! I think I've managed to re-produce it, while working on #126.

Is this sort of like the crash you're seeing?

![reproduced](https://cloud.githubusercontent.com/assets/309420/11757029/04fe7ec8-a056-11e5-8c30-125d438473b3.png)

[2015-12-12 01:01] kevinbrewster opened #127 "Dependent operation doesn't start"
When I run the below code in simulator, "OP2 DONE" only prints out ~5% of the time. Strangely, when writing similar code as a unit test, it runs fine.

[code]

The same problem happens using an Operation subclass instead of BlockOperation, so it's not just a problem with BlockOperation.

[2015-12-12 01:06] kevinbrewster commented on #127
If I only have op1 and op2 then it works fine:

[code]

But when I add op3, then op2 never executes:

[code]

[2015-12-12 11:52] danthorpe commented on #127
Hi @kevinbrewster thanks for the feedback, I'll look into this later today.

One quick thing to try, is to set up your operations and their dependencies, and then add them to the queue at the same time. I'm fairly sure that the issue is because the operations which are dependencies have begun executing or finished before the other ones have started.

[code]

[2015-12-12 20:46] kevinbrewster commented on #127
Hi Daniel, thanks for your reply.

I don't think that's the problem though. "OP2 DONE" still doesn't get called with your revised code. And Op2 should still start even if op1 had already started before op2 is added to queue.

If you change BlockOperation to NSBlockOperation in my original code then it runs fine, so there must be a problem in Operation.swift

And, strangely, the code runs fine as a

[2015-12-12 20:48] danthorpe commented on #127
Hi @kevinbrewster I'll take a deeper look into this. Out of curiosity are you using the `development` branch or latest version `2.4.1`?

[2015-12-12 20:53] kevinbrewster commented on #127
Hi @danthorpe, I'm using the development branch

[2015-12-12 22:38] danthorpe opened #128 "Fix issues with code coverage reports not being generated."

[2015-12-13 05:11] kevinbrewster commented on #127
Changing this:

[code]
to this:
[code]

fixes the problem but obviously doesn't address the core issue. I'm thinking the issue lies in OperationConditionEvaluator. Perhaps this line?

[code]
Maybe the queue needs to be different? I'm totally speculating though.

[2015-12-13 10:57] danthorpe commented on #127
Okay, interesting ideas, I'll be able to look into it this afternoon. I expect that I've introduced a regression with #125.

[2015-12-13 17:44] kevinbrewster commented on #127
Well, the same problem exists in the release branch (I just tested now). Also, the same problem exists in this similar project: https://github.com/pluralsight/PSOperations

So I'm pretty sure there is a fundamental problem somewhere - not a recent regression. Have you been able to replicate?

[2015-12-13 18:09] danthorpe commented on #127
Sorry - not been able to look into this today. Will do next week.

[2015-12-14 03:31] kevinbrewster commented on #123
I am able to re-produce this problem on both the development and release branches with an Operation class (as opposed to just BlockOperation). It's strange though - sometimes the code will run correctly for a few goes but if you Clean and Re-build it will have problems.

I did a bunch of testing on this tonight and I figured some stuff out. You were definitely right about the `start` method on the

[2015-12-14 04:30] kevinbrewster commented on #127
OK. I did some research and I think I was onto the right track. Consider the below code:

[code]

In the state where `evaluateConditions` is run, I believe the desired logic is that the `OperationConditionEvaluator` will asynchronously check the conditions and update `state = .Ready` which should trigger another KVO notification and the `ready` method will be called again, this time returning `tru

[2015-12-14 05:49] difujia commented on #123
Thank you guys for investigating this issue.
I agree that the call on super in override of `start()` method is the key. The problem can still be reproduced like this:

[code]

Here `measureBlock` is just used to let the test run multiple times in each run.

The sample code from Apple has actually been changed a couple of times. I have a very early version of the sample (June 10, 2015) in my comput

[2015-12-14 05:55] kevinbrewster opened #129 "Operations from mutually exclusive conditions start too early"
Disclaimer: this may be considered a bug fix, feature request, or my mis-understandings of how the Operations framework should work.

Anyway, consider the following code:

[code]

My intent is that both `op1` and `op2` need the same thing before they can start (e.g. a large file downloaded from the internet). So if I create a mutuallyExclusive `OperationCondition` that returns a `dependencyForOper

[2015-12-14 10:11] danthorpe commented on #127
@kevinbrewster thanks! This is great analysis - and is the latest contender and most likely to explain my temperamental unit tests in #119. Will be looking into all the current issues in Operations today.

[2015-12-14 10:18] danthorpe commented on #129
Hi @kevinbrewster - interesting ideas, and I appreciate that the current behavior might be a bit unexpected. My gut says that it might be a little harder to reason/debug/understand what is going on if the dependencies between operations are transitioned to dependencies between their own dependencies depending on mutual exclusivity.

Personally, I would prefer to use `OperationGroup` and be more ex

[2015-12-14 10:22] danthorpe commented on #123
@kevinbrewster @difujia okay, great stuff. I've left the `start()` code commented out at the moment. I knew this was the issue, didn't have any concrete info from @davedelong about why we ended up calling `super.start()`. Will refactor this now.

Also - great idea on using `measureBlock`.

[2015-12-14 14:29] danthorpe commented on #123
@difujia @kevinbrewster proposed fix: https://github.com/danthorpe/Operations/commit/689c29e3822533e806ea495fd2d28992b77df5e8 has been merged into `development`. Will leave this issue open until either of you can confirm that the completion block is no longer called twice. My [test for this](https://github.com/danthorpe/Operations/blob/development/Tests/Core/OperationTests.swift#L242) passes.

[2015-12-14 16:48] danthorpe commented on #127
Have been able to confirm via unit tests that this is indeed reproducible problem. In my test, I took the 3 operation setup described here by @kevinbrewster and ran it in a loop 1000 times. Each block incremented a counter for that operation by 1, and fulfilled an expectation.

The test fails, because some expectations are not fulfilled - around 6 blocks out of 3000 are not run. And evenly distrib

[2015-12-14 17:29] OperationKit commented on #123
@danthorpe - I can confirm that the completion block is no longer called twice with the latest development code.

[2015-12-14 17:29] danthorpe commented on #127
Okay, here is the change I've made: https://github.com/danthorpe/Operations/commit/e38e312b93d92589420ba6b3db23eedc70f5d470 going to merge this into development (my test with 2000 iterations now passes). @kevinbrewster if you get a chance to try your block operations in `development` that would be great.

[2015-12-14 17:32] danthorpe commented on #123
Thanks for testing @OperationKit  - will leave the issue open for @difujia and @kevinbrewster as they found/diagnosed the bug.

[2015-12-14 17:34] OperationKit commented on #127
Just tested it - works great. I like the re-written `evaluateConditions`. Good idea with returning a `Bool`

[2015-12-14 17:39] danthorpe commented on #121
Hi @jshier there have been some improvements to how the logging works, including use of `@autoclosure`, refactor of the messages (to avoid accessing `self`), exposure of global severity level and enabled flags.

I'm pretty sure that the bug was due to accessing `.operationName` in the log message inside `UserLocationOperation` which obviously meant that the operation was being captured by the logg

[2015-12-14 17:40] danthorpe commented on #127
:+1: @OperationKit

[2015-12-14 17:42] kevinbrewster commented on #123
(sorry i was logged in under the wrong account earlier. changing to avoid confusion).

@danthorpe - I can confirm that the completion block is no longer called twice with the latest development code.

[2015-12-14 17:43] kevinbrewster commented on #127
(sorry i was logged in under the wrong account earlier. changing to avoid confusion).

Just tested it - works great. I like the re-written evaluateConditions. Good idea with returning a Bool

[2015-12-14 17:44] danthorpe commented on #123
@kevinbrewster are you the mysterious @OperationKit? ;)

[2015-12-14 17:45] danthorpe commented on #123
Okay, closing this issue now as fix has been verified. Thanks @kevinbrewster & @difujia!

[2015-12-14 17:45] #123 closed

[2015-12-14 17:46] kevinbrewster commented on #123
haha - my secret identity has been revealed!!

I had actually been working on my own framework for Operations before I discovered this one only a few days ago.

[2015-12-14 17:51] danthorpe commented on #123
Ha! Cool. I know there are a couple of other projects. If you have any more feature requests or suggestions - feel free to create an issue - I'm eager to develop this more to increase its utility and fix annoyances people are having.

I've not got time to look at your other issue now, but I will do tomorrow.

[2015-12-14 17:51] kevinbrewster commented on #129
@danthorpe - would you mind sending me an email? I have a few ideas i want to bounce off you.

[2015-12-14 17:55] danthorpe opened #132 "Add cancellation handler to BlockObserver"

[2015-12-14 17:58] danthorpe commented on #119
Seems as though many of these tests are now less flaky thanks to recent bug fixes. Still seen a failure with location though. Will continue to monitor it.

[2015-12-14 18:02] jshier opened #133 "DelayOperation and BlockOperation lack cancellation handlers"
I don't know whether this was intentional, but it has lead to some unexpected behavior for me. A simple test like this:
[code]
leads to both the `DelayOperation` and `BlockOperation` executing successfully. Looking at the code it seems like neither of these classes override `cancel` and so execute completely. Is this intentional?

[2015-12-14 18:05] danthorpe commented on #133
Hi @jshier - nope, not intentional at all. Consider this a bug, will fix it.

[2015-12-14 18:59] danthorpe commented on #133
Okay, looking more closely at `DelayOperation` - we do check the `cancelled` state inside the `dispatch_after` closure. Which is where the operation is finished. If it is cancelled, then `finish` has already been called. In which case, the completion block will have been executed.

Note that from the `NSOperation` [docs](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/NSOpera

[2015-12-14 21:35] jshier commented on #133
I think some of this comes down to my (continued) misunderstanding of how the cancellation of operations works. I think, fundamentally, I was assuming that the cancellation of operations would invalidate any dependency chain established and dependent operations wouldn't even execute. (Which I think I've done before when reporting bugs here.) Now that I think about it, that's the reason for conditi

[2015-12-14 21:49] danthorpe commented on #133
Hi @jshier well... I can't count how many times I've read the NSOperation documentation and found that I still don't fully get how it works, or that my understanding doesn't match up with what I've observed in practice 😖 - so I fully understand.

Indeed, I'm just trying to write some test cases to validate my understanding on this, and I've discovered that taking your example code above, if I canc

[2015-12-14 21:59] danthorpe commented on #133
For example, this is from the `cancel()` [docs](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/NSOperation_class/#//apple_ref/occ/instm/NSOperation/cancel):

I can't tell if that means, if you cancel the operation that is waiting, or if you cancel the dependent operations... I think it's really vague - the language uses "it" a lot when discussing different operation instance

[2015-12-14 23:30] danthorpe commented on #133
Hi @jshier and... regarding `BlockOperation` - I have added a check on `cancelled` anyway, but also I don't think it should be an issue, because `NSOperation` / `Operation` ensures that when cancelled the operation goes from start direct to finish, it doesn't call `main`, which in turn means that `execute` isn't called, so the block isn't executed. I've added a test to verify this too.

[2015-12-14 23:44] danthorpe commented on #133
So.... if you have the following code:

[code]

You'll get this output...

[code]

So what is happening here? And is it correct?

So both operations cancel and then enter `.Executing` state. I think this is because we cancel all the operations after we add them to the queue. As soon as the operations are added to the queue the `DelayOperation` should begin executing at approximately the same time

[2015-12-15 06:04] difujia commented on #123
Thanks @danthorpe. I too believe this issue has been addressed. For other improvements, I think a generic way of piping operation results could be great. I will create an issue for discussion.

[2015-12-15 06:35] difujia opened #135 "[Discussion] Mechanism for piping/chaining operation results."
The execution of one operation sometimes require the result from another operation. For example,  an operation that uploads apns token to a server requires the acquisition of the token by another operation. An operation that saves objects to core data may require the result from a networking operation followed by a parsing operation. The common pattern seen in these scenarios is that data is creat

[2015-12-15 10:25] danthorpe commented on #129
Hi @kevinbrewster just reading through this again.

While I appreciate that this is a contrived example to illustrate your point, the main thing which jumped out at me, why use conditions for this? Maybe I'm missing something, (are the two downloads different resources?), but can you do:

[code]

So... to extract your proposition from the example, you're suggesting that dependencies needed to fulf

[2015-12-15 11:14] danthorpe commented on #135
This is a really interesting idea - I like it, formalized dependency injection.

Personally, I have been using a `GroupOperation` with a single child to start the first operation, and then add the 2nd after taking the results from the first. This approach has the advantage that it's easier to re-use & compose, but I does also add a bit more cognitive load (and another queue). See [`ReverseGeocodeU

[2015-12-15 11:18] danthorpe commented on #133
@jshier what do you make of this?

[2015-12-15 12:30] danthorpe commented on #133
So, I've now added cancelled state to `Operation`. All this really does is provide a boolean which is then shadowed by `cancelled`. With this in place, running the above code produces the following output:

[code]

The crucial difference here is that the `completionBlock` for `DelayOperation` is executed correctly - see the 2nd line. But still the `BlockOperation` is not executed.

[2015-12-15 14:11] danthorpe commented on #133
@jshier okay, I've merged #134 which hopefully will improve how this kind of scenario has been working for you. The changes in this PR had the following:

1. Fixes a bug (I think in `NSOperation`) where completion block would not be called if an operation is cancelled.
2. Adds more logging around cancellation
3. Refactors `DelayOperation` to use `dispatch_source_t`
4. Provides more safety with `Bl

[2015-12-15 16:37] kevinbrewster commented on #129
Yes, my example is contrived and just used to give a simple example. In reality it wouldn't make sense to have a "global" operation for which future operations can depend on.

No, my diagram shows that currently OP2 depends on OP1. To me, this is not desired and is an incorrect "interpretation" of my written code. My code says that both operations depend on a mutually exclusive condition. That sho

[2015-12-15 16:54] danthorpe commented on #129
Hi @kevinbrewster - sorry didn't go back to your code example to compare with the diagram. I'll write some tests to further investigate this. Depending on how you want to interpret mutual exclusivity there is a bug with the current implementation. So these the things to address:

1. Clarify the expected behavior of attaching mutual exclusive conditions
2. Fix any bugs which cause deviation from th

[2015-12-15 16:55] #127 closed

[2015-12-15 16:58] jshier commented on #133
Sorry, I wanted to do more analysis on my end before responding but you've jumped ahead now. My contrived test case works as I would expect now. And `DelayOperation` is much nicer. I'll give my app a try on the development branch, and audit my custom operations' cancellation behavior. Thanks.

[2015-12-15 17:02] danthorpe commented on #133
Hey @jshier - yeah, sorry for jumping the gun, I wanted to crack on. I would hold off on auditing/changing any of your custom operations' cancellation behavior just yet. See #132 which adds a cancellation callback to the `OperationObserver` - see https://github.com/danthorpe/Operations/commit/8960a93ceec1a3000f7fe3ab76bfc5478b2f6184 for how it should be used.

The reasoning behind this is that the

[2015-12-15 17:04] jshier commented on #135
That looks very interesting. So far I've been trying to minimize any dependencies, and when unavoidable, have created various `*Token` protocols and conforming classes (classes because references are the only way this works) so that I can share a token between all of the operations, with each operation added their values when they complete. A more formalized paradigm would be nice. This looks pret

[2015-12-15 17:11] danthorpe commented on #135
@jshier :+1: will put together a feature branch for this.

I think, in general dependency injection is a good thing that should be encouraged, There is a bit of a barrier to doing this *correctly* with `GroupOperation` so this is a nice formalized way for the framework to provide a lightweight methodology for injecting results into operations. So, it's worthy of adding I think.

[2015-12-15 17:51] jshier commented on #121
Looks good. I'm able to use my location manager in both the Permissions demo app and my app as well, when building against the `development` branch.

[2015-12-15 18:00] danthorpe commented on #121
Okay, I'm going to close this issue now. 🙂

[2015-12-15 18:00] #121 closed

[2015-12-15 19:12] jshier commented on #133
I see in #132 you're changing several operation classes to use the cancellation observer for their cancellation logic. What's the advantage of that versus the standard `override cancel()`? A workaround for `cancel()` not being called?

[2015-12-15 19:47] danthorpe commented on #133
Hey @jshier - well the reasoning is that, in most of these cases the code which is in the over-ridden `cancel()` only wants to be called once. For example, `stopUpdatingLocation()` or `dispatch_source_cancel()`. So, the combination of `OperationObserver` & `Operation` can remove a lot of the boilerplate/state management which *should be* in all of those sub-classes.

What do you think? I guess I'm

[2015-12-15 21:34] jshier commented on #133
Called only once? Could `cancel()` be called more than once?

My main concern is consistency and best practice. While I customize `Operation` subclasses by overriding things like `execute()`, to implement custom cancellation behavior I have to use an observer? Which is the right or best way? Also, developers may be confused about which to implement in the first place, since everything else is done

[2015-12-15 22:26] danthorpe commented on #133
Well, I'm following recent changes in another advanced operations style framework: https://github.com/pluralsight/PSOperations/pull/31 (from @davedelong).

As I've discovered with recent debugging & general checking, I think because of the key-value coding/observing nature of `NSOperation`, queues, operations and their dependencies I don't expect that it is guaranteed the `cancel` method is only e

[2015-12-15 23:31] danthorpe opened #136 "Update README & Wiki"
Definitely need to update the README to help people understand what Operations is all about. Off the top of my head, these are the things which need improving or better guidance.

- [ ] Better / simpler / shorter examples of `Operation` subclasses
- [ ] Example usage of provided conditions, observers, operations.
- [ ] Device Capability permissions, including when to use `AuthorizedFor` or `GetAut

[2015-12-16 00:40] danthorpe commented on #135
Made a start on an implementation for this, can we move discussion of this over to #137. Thanks!

[2015-12-16 15:19] danthorpe opened #138 "Error with logging tests"

[2015-12-16 16:37] danthorpe opened #139 "Remove HealthCondition"
I think there might be an issue with HealthCondition - it's imported by the framework, which might be an issue for App Review teams - as more than likely the app doesn't use it. Issue has been reported to PSOperations: https://github.com/pluralsight/PSOperations/issues/34

So... options are

1. Just delete it - tough luck if you use it.
2. Don't include it in the main frameworks - include a `+Heal

[2015-12-16 16:47] danthorpe opened #140 "Make OperationObserver protocol more granular"

[2015-12-16 17:13] jshier commented on #139
Seems like 2 would be enough. I'm not sure how that would affect Carthage users though.

[2015-12-16 17:23] danthorpe commented on #139
Yeah, I'm thinking the same - shortest term & easiest fix.

[2015-12-16 19:56] danthorpe opened #141 "Improve clarity of Operation public API"
Following Swift evolution mailing list, there has been some clarifications regarding the usage of `assert` and `precondition`. There are definitely improvements that we need here. `addObserver`, `addDependency` etc should be using precondition with clearer documentation about the expected state.

[2015-12-16 20:45] danthorpe commented on #135
Implemented & merged.

[2015-12-16 20:45] #135 closed

[2015-12-17 12:58] shsteven opened #144 "Any way to make logger optional?"
First of all, thank you @danthorpe  for creating this library!
It's even better than the original sample code thanks to all the improvements.

When using both Operations and a logging framework e.g. SwiftyBeaver, log.debug() stops working because both frameworks declare the same function.

Is there any way to make LoggerType optional?

[2015-12-17 13:47] danthorpe commented on #144
Hi @shsteven - thanks a lot, much appreciated

In terms of disabling logging (when using `development` branch) - you can put `LogManager.enabled = false` - this will be made available in the next version, hopefully soon.

But, I don't think this is the issue, there is a name spacing clash here? Which is what I don't quite follow, however I don't think you're the only person to have this issue - an

[2015-12-17 13:52] danthorpe commented on #144
Also - I'm trying to avoid having any dependencies with Operations - hence why it doesn't use SwiftyBeaver itself.

[2015-12-17 14:22] shsteven commented on #144
Hi @danthorpe ,

Thank you for your quick response!

Here's a concrete example:

[code]

Prefixing with framework name works.
And I completely agree seeing operation logs is very useful.

However, it feels a bit awkward to use `SwiftyBeaver.debug()` instead of `log.debug()`.
To avoid the name clash, I can setup SwityBeaver as `let logger = SwiftyBeaver.self` and use a different name `logger.debug(

[2015-12-17 14:26] shsteven commented on #144
An alternative could be renaming `operation.log` to `operation.logger`?

[2015-12-17 14:34] danthorpe commented on #144
@shsteven appreciate that is a pragmatic solution.

But you could also define your `SwiftyBeaver` instance to be called `logger` instead of `log`. Also another logging framework might use `logger` and so there would be another clash. Modules names exist for this reason - to disambiguate symbols in mixed scope.

[2015-12-17 14:44] shsteven commented on #144
@danthorpe yes, that's true.

It's a convention with the logging libraries. CocoaLumberjack, XCGLogger and SwiftyBeaver -- all of them suggest using `log.debug()` in their examples.
As a result, anyone who integrates with Operations and a logging library will scratch their head and wonder why `log.debug` stops working, ask the same question, and eventually go through the same debug process.

[2015-12-17 14:47] danthorpe commented on #144
Well, I'm working on a ticket now to look at this more closely, and I'll add SwiftyBeaver to the example project and see what needs to be done to integrate it.

Partly my thoughts are - wouldn't it just be better to have the `Operation` logger send messages to the custom logger?

[2015-12-17 14:55] shsteven commented on #144
I think that'll work, to a degree.
The advantage of using a dedicated logging tool is the flexibility: logging to a file, colouring, showing line number and class name etc.
If we have the `Operation` logger wrapping around another logger, line number / class name is no longer relevant, for it will always point to the line where `Operation` logger is calling `SwiftyBeaver` logger.

[2015-12-17 14:57] danthorpe commented on #144
Hmm, this is a good point. I'll get back to you with what I discover.

[2015-12-17 14:58] shsteven commented on #144
Thanks!

[2015-12-17 17:35] danthorpe opened #146 "Ensure thread safety when assessing Operation readiness"
There is a subtle issue where assessing `isReady` of an Operation can trigger state changes which affect `ready` - and so we can get invalid state changes.

[2015-12-17 18:00] danthorpe commented on #133
Hi @jshier, are there any more thoughts on this? Can I close this?

[2015-12-17 18:02] jshier commented on #133
I've tested the new `DelayOperation` in my code and it works well. No further comments. I'm looking forward to 2.5.

[2015-12-17 18:02] danthorpe commented on #133
:+1:

[2015-12-17 18:02] #133 closed

[2015-12-18 10:32] anthonyherron opened #147 "Should Condition operations inherit their parents dependencies?"
Hey Dan, I have a question somewhat related to [#129](https://github.com/danthorpe/Operations/issues/129). There are definitely ways around to get this to work, so perhaps it's a bit philosophical. I have a code example below:

[code]

Console output:
[code]

My question being... should the operation LoginOperation - which is returned by LoggedInCondition inherit the dependencies of SimpleOperatio

[2015-12-18 10:38] anthonyherron commented on #147
I was going to write another separate ticket, but it's similar so I'll ask here: what about evaluating a condition before the conditions operation is added to the queue? So evaluateForOperation() is called, if it's already satisfied, then don't bother adding the condition to the queue. I don't know whether this could cause issues with prior operations, so I don't know whether a more "Just In Time"

[2015-12-18 11:23] danthorpe commented on #147
Hi @anthonyherron - thanks for the feedback & observations.

Firstly, I guess I've got to apologize for the lack of some clear documentation on this regarding the scheduling. I think that is mostly to blame for these questions because the exact order of operations regarding dependencies and conditions could be more clearly defined. On this, I am working on some more complete documentation.

But I

[2015-12-18 11:57] danthorpe commented on #144
Fixed in #145.

[2015-12-18 11:57] #144 closed

[2015-12-18 12:26] anthonyherron commented on #147
Yes that's what I meant, dependent operations should be executed before condition operations.

If you have a roadmap/TODO list, I'd be happy to contribute btw.

[2015-12-18 12:36] danthorpe commented on #147
Hi @anthonyherron - I don't yet have a roadmap or contributing guidelines yet - but after I sort out 2.5 I'm going to put these in place. PRs are welcome - but things which drastically change how operations are executed need to be clearly understood / documented / assessed etc. And this is what I'm working on for  v2.5 which I hope will be done in the next day or so.

[2015-12-20 19:40] danthorpe opened #148 "Conform to ResultOperationType where appropriate"
- [ ] `UserLocationOperation`

[2015-12-21 11:48] danthorpe opened #150 "Support functional paradigms using result injection - map"
We should be able to perform state transformations using map, flatmap, filter and reduce. Will start of with map.

[2015-12-29 18:33] jshier opened #151 "Occasional crashes in UserLocationOperation"
Although not as regular as #121, my project is currently seeing crashes in `UserLocationOperation`'s `didUpdateLocations` handler.

Latest crash looks like this (sorry, Crashlytics isn't very good for Swift code):
[code]
Another looks like this:
[code]
Seems like there's either a memory issue with the `CLLocationManager` instance used by the operation, or something in the way I'm using it that is

[2015-12-29 18:42] danthorpe commented on #151
Sorry about that @jshier - what version is this?

[2015-12-29 18:44] danthorpe commented on #151
Also, if you can share how you're using it, that would also be great. E.g. are you using the completion block, or the property to access the `CLLocation`?

[2015-12-29 18:47] jshier opened #152 "Operation Observers in 2.5"
In 2.5 it was made a precondition failure to try to add an observer to an operation that had already progressed to the `.Ready` state. To me, this seems to greatly limit utility of observers, in some situations anyway. For instance, I can no longer decouple observation with operation creation. i.e. I can do this anymore:
[code]
Instead, if I wish to add an observer, I must do it at operation creat

[2015-12-29 18:51] jshier commented on #151
This is version 2.5, with the latest version of the `LocationManager` I showed in the previous issue:
[code]
Used like this:
[code]
or
[code]

[2015-12-29 18:58] danthorpe commented on #152
Hi @jshier, hmm, but doesn't the use of `precondition` make explicit what was already the expectation of `Operation`?

If an observer is added after the operation moves past the `.Ready` state, then there is the potential that they will be added after the relevant event has passed. I will admit however, that given that now `OperationObserver` is somewhere redundant, that this only applies to some

[2015-12-29 18:59] danthorpe commented on #151
Okay @jshier will take a look at this. I take you have not been able to reproduce this, and are just going via crash logs from Crashlytics?

[2015-12-29 19:01] jshier commented on #151
I haven't, no, so we just have logs from Crashlytics. However, this app isn't public yet, so we've only been running into this issue during QA. Even a low number crashes is rather concerning with so little overall usage.

[2015-12-29 19:13] jshier commented on #152
`OperationManager`s of the type I've been writing usually work like this:
[code]
What I'd like to do, is base whatever behavior I can on the operation state, and observers are perfect for this. For instance, enabling or disabling UI, showing progress indicators, etc. Sometimes all in one observer, sometimes in observers for each element. (If you've ever used the old AFNetworking operations, the li

[2015-12-29 19:50] jshier opened #153 "A Polling Operation"
My current project has several network endpoints that I'm required to poll against. This is due to backend design, not desire, and I have no control over this requirement. As the number of endpoints I need to poll against has increased, my need for a generic solution has as well. So I've started doing so and while I have a prototype working, additional guidance would be appreciated. Here's what it

[2015-12-29 20:08] danthorpe commented on #153
This is really interesting, as I've been thinking about creating repeating / retrying / exponential back-off `Operation` subclasses for v2.6.

My gut reaction to this is that you could make it a generic operation:

[code]

I don't think there is a way to do it by using a typealias for the closure outside of a generic scope.

Take a look at [`ReachableOperation`](https://github.com/danthorpe/Operat

[2015-12-29 21:18] danthorpe commented on #151
Hi @jshier I know this is a bit of a pain - but is there any chance you can run a build using branch `bug/OPR-151_crash_in_location_manager`?

I've made the following changes:

1. When the operation stops updating locations (called just before it finishes) it also sets the location manager's delegate to `nil`.

2. Using weak references in all places that capture `self` - which where it dispatch to

[2015-12-29 21:43] danthorpe commented on #152
Hi @jshier.

Okay, so before 2.5, you could call:

[code]
without any complaints?

There were two changes in 2.5. One was to switch to using `precondition` instead of `assert` and the other was to change the check to ` < .Ready` instead of ` < .Executing`.

The change to `.Ready` from `.Executing` was from @difujia, and his commit comment was:

I definitely agree with this point regarding conditio

[2015-12-29 22:17] danthorpe opened #154 "Retry Operation"
Here are my thoughts on a possible `RetryOperation`.

1. It would be a way of reliably executing an operation which can "fail" (finish with errors).
2. It would be a little bit like `ReachableOperation` / `ComposedOperation` where the target operation is composed inside a group operation.
3. The target operation gets a `NoFailedDependenciesCondition` added
4. If the target operation finishes with

[2015-12-30 03:10] difujia commented on #152
IMHO, `.Ready` is the only safe choice of the last chance allowing to add observers. The reason is simple, all operation life cycle events happen after `.Ready`, and their transitions are all unpredictable. Restricting the addition of observers before `.Ready` guarantees the observers being called if corresponding events occur. If the restriction did not exist, client code relying on execution of

[2015-12-30 11:08] danthorpe commented on #152
I'm pretty much agree here with @difujia, but I'm a little concerned that something so trivial is the cause of any significant issues particularly if it has limited the flexibility of the framework. Partly I think the "flexibility" available prior to 2.5 was actually just dangerous/buggy code which we've now fixed/improved.

However, saying this, I think `OperationDidFinishObserver` is an edge cas

[2015-12-30 22:01] jshier commented on #151
We're testing the fix branch now. I'll take a look into the logging as well.

[2015-12-31 00:32] danthorpe commented on #153
@jshier I've done some work on a `RepeatedOperation` in #154 - not yet merged. But would be great if you have any feedback on this.

Using the example here, your use case would work like this:

[code]

In this case, the `strategy` argument is a fixed `NSTimeInterval` of 1 second. See the notes in #154 for more info.

The `shouldContinuePolling()` (which I've copied into the `Repeatable` extension)

[2015-12-31 00:51] jshier commented on #153
Thanks, I'll take a look when I get a chance.

The `shouldContinuePolling()` function was supposed to be general so that the operation being repeated can determine whether polling should continue. The logic that's in there for the `TestOperation` was just to make sure I could easily poll for a dynamic number of times. The logic I actually need is to repeat a network request until the response chan

[2015-12-31 00:54] jshier commented on #153
Also, I didn't realize that `finish()` shouldn't be called from `operationDidFinish`. I'll make sure that I audit my operations for that.

[2015-12-31 01:12] danthorpe commented on #153
@jshier okay, I thought that's what you were wanting to do. I've added `RandomFailGenerator` to support this kind of random failure in general. Use like this:

[code]

which randomly fails (i.e. finishes the repeating) ~ 1 out of every 100 operations.

So far, I think my `Repeatable` protocol is generic enough to support the current (actually just finished) instance from determining whether a new

[2015-12-31 01:24] danthorpe commented on #153
Hmm, actually will need to think a little bit more about including the aggregate errors into `Repeatable`. At the moment, `RepeatedOperation` is nicely de-coupled from `Repeatable` - as it's only generic over the operation type, using `AnyGenerator` to erase the type of the generator. To pass the aggregate errors through to the generator would require a specific generator type.

[2015-12-31 13:36] danthorpe commented on #153
Okay, so I'm not going to modify `RepeatedOperation` to support aggregating errors. Why? Because it tightly couples the concept of repeatedly executing operations to the logic for whether or not they should be repeated (using a particular metric).

Instead, that logic should go into the generator of the operations itself.

However, to help with this, I've added `RepeatableOperation` in #154. It ca

[2016-01-01 23:05] jshier commented on #151
We were able to see this fairly regularly in the simulator, and the fix branch seems to have fixed it entirely. I think it's more to do with setting the delegate to nil than the weak capture, but whatever it was, it seems fixed now. Thanks.

[2016-01-02 00:56] danthorpe commented on #151
Okay, great. Will merge and release 2.5.1 in the morning. Thanks for reporting & testing!

[2016-01-02 01:09] jshier commented on #152
At a high level I guess my thinking is that the observers provided by `Operations` should be as flexible as KV observers you can use on regular `NSOperation`s. That is, observers can be added at any time, removed at any time, and don't care what state the operation is in when added. Observers provided by `Operations` should be superior because the developer doesn't need to know a key to observe, a

[2016-01-02 14:17] danthorpe commented on #152
Okay, these are all fair comments. I'm eager to see a resolution to this, so I'm going to provide overrides to `addObserver` which will sanity check based on what kind of observer protocol is being added.

@jshier I'm assuming from your usage case here, that you're adding observers for did finish?

[2016-01-02 14:20] danthorpe commented on #151
Closing this as it's now fixed in the 2.5.1 release.

[2016-01-02 14:20] #151 closed

[2016-01-02 14:24] danthorpe commented on #153
Hi @jshier the `development` branch now includes `RepeatedOperation` and `RetryOperation` from #154 (in addition to 2.5.1). Which I think will support your need for a polling operation directly.

I'm going to close this issue for now, if you have feedback regarding `RepeatedOperation` - feel free to re-open this issue, or start a new one.

[2016-01-02 14:24] #153 closed

[2016-01-04 12:10] danthorpe commented on #152
Hi @jshier - I've made changes which (I think) strike a good balance between safety and flexibility regarding this issue. Merged into `development`. Let me know what you think so that we can resolve this issue. Cheers!

[2016-01-04 14:29] danthorpe commented on #147
@anthonyherron I've implemented support for this in #157. If you have any feedback on it that would be great. Still got more specialized tests for this to write before it can be merged, but I think the scheduling on the queue is worth checking out regardless.

[2016-01-04 19:27] StephenDaedalus opened #158 "CloudKitOperation execute method..."
I'm wondering how to properly queue a concrete instance of a CloudKitOperation.

When I add it to an OperationQueue, the execute() method gets invoked but an illegal state transition assertion is thrown when my CloudKitOperation goes from .Initializing to .Finishing.

The actual NSOperation is queued to the CKDatabase and completes successfully but there's something amiss in the coordination betwe

[2016-01-04 20:26] danthorpe commented on #158
Hi @StephenDaedalus thanks for the feedback, and I think I'll refactor `CloudKitOperation` to work better based on this issue.

But, as discussed [in the support forums](https://operations.readme.io/v2.5.0/discuss/568ac574d4e2360d0098008e) this issue is caused by calling `execute` directly from within an enclosing `Operation`.

[2016-01-04 21:44] danthorpe opened #160 "CloudKitOperation does not respond to cancellation"

[2016-01-05 12:32] danthorpe commented on #147
#157 has been merged now.

[2016-01-05 12:36] danthorpe commented on #129
FYI @kevinbrewster - this has now been fixed (I think), and is merged in development.

[2016-01-05 22:29] danthorpe commented on #119
Gonna close this now as none of these unit tests are being flaky anymore. I think the various bug fixes in 2.5 have resolved them.

[2016-01-05 22:29] #119 closed

[2016-01-06 00:14] danthorpe commented on #129
Doing some housekeeping - closing this issue now.

[2016-01-06 00:14] #129 closed

[2016-01-06 00:15] danthorpe commented on #147
Doing some housekeeping - closing this issue now.

[2016-01-06 00:15] #147 closed

[2016-01-06 00:17] danthorpe commented on #158
Going to close this issue now as it's been resolved.

There is work underway which will refactor the `CloudKitOperation` in #160, which will be merged into master in version 2.6.

[2016-01-06 00:17] #158 closed

[2016-01-06 19:24] danthorpe opened #161 "Refactor RetryOperation"
At the moment, `RepeatedOperation` is sort of like a signal producer - it just keeps on scheduling operations as long as the generator returns them, with various delays in between.

`RetryOperation` is the same except that it will finish as soon as an operation succeeds.

I'm going to change `RetryOperation` so that it's finishing does not depend on whether the operation succeeds, but whether or n

[2016-01-06 21:32] anthonyherron commented on #147
Sorry for the belated reply @danthorpe - thank you for the fix, I'll take a look.

[2016-01-06 21:53] danthorpe commented on #147
No worries @anthonyherron - I've had a bit of spare time so, burning through some issues.

I think the info in #157 covered this issue quite well. But, bear in mind if you're looking at `development` that the changes proposed in #129 have also been done.

So, that diagram in #157 doesn't show that if there are mutually exclusive conditions which have dependencies, they will no longer be executed c

[2016-01-07 18:14] danthorpe opened #162 "Refactor ComposedOperation & GatedOperation"
These two operations which are not used very much, and I want to tweak them to fix a few issues. The main idea behind `ComposedOperation` is that other `NSOperation` instances can be wrapped in an `Operation`. `GatedOperation` is the same, except it runs a block at execution which determines whether the composed operation is added to the queue.

If the composed operation is a subclass of `NSOperat

[2016-01-08 00:07] danthorpe opened #163 "Refactor ReachableOperation"
- [ ] Subclass `ComposedOperation`
- [ ] Refactor `Reachability` to use Objective-C and register function callbacks, instead of polling.
- [ ] Maximize test coverage, currently:

    File | %
    ------|-----
    ReachilityCondition.swift | 82%
    ReachableOperation.swift | 54%
    Reachability.swift | 39%

[2016-01-08 03:27] danthorpe opened #164 "Support Swift Package Manager"

[2016-01-08 12:10] danthorpe opened #165 "Refactor CloudKitOperation, phase 3"
### Phase Three

- [ ] Refactor `ReachableOperation`

Refactor `ReachableOperation`, to subclass `ComposedOperation`, and then `CloudKitOperation` should subclass `ReachableOperation`.

Given this, the `ReachableOperation` will manage errors/executing the operation when the app is online.

Execution inside of a `RetryOperation` will support errors/executing the operation in the face of errors from

[2016-01-11 15:08] danthorpe opened #166 "Add SilentCondition missing tests"

[2016-01-11 15:22] danthorpe commented on #166
Oh - my mistake, it's all already tested.

[2016-01-11 15:22] #166 closed

[2016-01-13 13:19] danthorpe opened #167 "CloudKitOperation, phase 4: Error Handling"
### Default Error Recovery

I think it would be great if the framework provided some convenient error handling for some of the more recoverable errors. Things like, not logged into iCloud for example. My thinking is a type `CloudKitErrorHandler` say, which can be used in conjunction with `RetryOperation` as the "error recovery block".

- [ ] Cloud Kit Error Handling

These are the different `CKErr

[2016-01-13 14:09] danthorpe opened #168 "Refactor RepeatedOperation & RetryOperation"
At the moment, `RepeatedOperation` uses two generators, one for delays and another for the operation, which in hindsight is a little bit limiting.

A better approach would be a generator of type `(NSTimeInternal?, T)` or `(NSDate?, T)`... so that the generator can be responsible for injecting it's own delay.

Another factor would be how to take latest and aggregate errors into account.

[2016-01-16 11:18] danthorpe opened #169 "CloudKit Example"
There is now quite a lot of functionality for CloudKit in this framework. It can do the following:

1. Schedule `CKOperation` subclasses inside an existing `Operation` based system. i.e. attach Observers, Conditions etc.
2. By default, the `CKOperation` will execute when the device has network connectivity. In other words, when the operation is executed, if the device turns out to not be reachable

[2016-01-16 11:31] danthorpe opened #170 "CloudKitOperation should conform to ResultTypeOperation"
If the consumer doesn't set the completion block on a `CloudKitOperation`, then it will "work" but nothing will actually happen. Errors will not get caught, and the "result" will not get used.

So, perhaps there should be a default completion block which allows the operation to be used as a result.

i.e.

[code]

This would allow each `CKOperation` type to define its own "Result" and set a block w

[2016-01-17 03:58] jshier commented on #152
@danthorpe Sorry for the delay, I've started reviewing the observer architecture this weekend again. I think the changes so far are great. Since it's considered unsafe to add a start observer after the operations has actually started, what about something to tell an observer when it's been attached to an operation? In my use cases, it's not so much that an operation has started that important, it'

[2016-01-17 13:03] danthorpe commented on #152
@jshier Interesting. That's a possibility I hadn't considered...

At the moment there are four observer protocols which all extend from `OperationObserverType` which is an empty protocol - this could have a function added:

[code]

However, for your use case:

Does this mean that you can use a type which conforms to `OperationDidFinishObserver`? If so, then it can be added right up until the opera

[2016-01-17 17:00] danthorpe opened #171 "Bug: 2nd ReachableOperation fails to execute."
There is an issue with the newly refactored `ReachableOperation<T>` it seems as though additional observers do not get a callback or are otherwise not correctly "produced".

[2016-01-17 22:54] jshier commented on #152
What I meant was that, for my purposes, part of my code doesn't care so much whether the operation has specifically started, just that it exists and hasn't finished yet. I suppose just using a finish observer could do what I want, but it would mean some of my code would have to live outside the observer. For example:
[code]
vs.
[code]
To me, it's somewhat cleaner to have the before and after code

[2016-01-18 00:45] danthorpe commented on #152
Hi @jshier, as always, these are really good points and very constructive.

I'll read what Mike has to say (I think I actually missed this post - so thanks), and consider some more fundamental architectural changes. My hunch at the moment is that some thread safety can deliver 4 & 5 from your list without impacting 3 too much.

[2016-01-25 21:36] GUL- opened #173 "Alamofire & Operations"
How can we use Alamofire and Operations framework all together?

[2016-01-25 22:02] jshier commented on #173
It's pretty easy to wrap Alamofire using operations, but unless your needs are simple, you'll probably be better off writing your own. I have a semi-generic `NetworkOperation` that wraps Alamofire, so I'll post that up when I get a chance.

[2016-01-25 22:20] danthorpe commented on #173
Thanks @jshier - I'd add pretty much the same.

Regular `NSOperation` instances can be wrapped using `ComposedOperation`, and `URLSessionTask` can be wrapped using `URLSessionTaskOperation`.

You could try these to see how Operations works for you. e.g. setup your network request using Alamofire and then compose the underlying task inside `URLSessionTaskOperation`. I should probably add a guide fo

[2016-01-26 03:03] jshier commented on #173
Here's the `NetworkOperation` I created that uses Alamofire.
[code]
It depends on this Alamofire extension:
[code]
Which in turns depends on [Argo](https://github.com/thoughtbot/Argo) for JSON parsing and my own `APIError` type. This is an example of the type of specialization you'll likely need. But you can see how you could wrap the basic Alamofire `response` functions like this.

[2016-01-26 07:07] danthorpe commented on #173
@jshier @GUL- yeah, this is pretty ace.

Much better than my initial suggestion of wrapping the task inside the Alamofire request.

Also, it shows the general structure for wrapping asynchronous functionality from other systems.

1. Initialize the `Operation` subclass with dependencies.
2. Override `execute` and begin/start/resume the asynchronous task.
3. Use a completion block to set results, ca

[2016-01-26 08:29] GUL- commented on #173
@danthorpe It's the exact help and example I needed. I will test it in my own app as soon as possible.
Many thanks to both of you @jshier and @danthorpe

[2016-01-26 14:11] #173 closed

[2016-01-28 19:21] JamieWhite commented on #112
Looks like we're still waiting on Carthage for this. I think Im gonna try and get my fork workable in extensions for the time being. I'm still using PSOperations and I'm keen to get off it.

[2016-01-28 23:49] danthorpe commented on #112
Yeah, looks like it, although I'm not had a chance to catch up on where Carthage is. If anyone has any suggestions to get round this - PRs are more than welcome!

[2016-02-01 14:06] JamieWhite commented on #112
Interesting update out by Carthage: https://github.com/Carthage/Carthage/releases/tag/0.12

I noticed you had a separate xcodeproj setup for the extension target so I changed it's product name like so https://github.com/JamieWhite/Operations/commit/24d356a87324f3e897a6946f6fa8472b99bdd94c and it didn't overwrite the main xcodeproj

[2016-02-01 14:26] danthorpe commented on #112
Hi @JamieWhite - interesting, I'll have a look at what Carthage are doing tonight hopefully.

If you change the `PRODUCT_NAME` like this, are you keeping the "module name" the same? I tried many different variations (of the build settings) on this theme and could not get to a point where the actual files produced were named differently, yet the module name was the same.

Part of my reasoning at th

[2016-02-03 15:35] bastianschilbe opened #174 "GroupOperation with AlertOperation not finishing"
If I add an AlertOperation to a GroupOperation the finish observer of the AlertOperation gets called but the outer GroupOperation never finishes. It seems that the containing UIOperation contained in the AlertOperation is scheduled on the GroupOperation queue but is never finished so the group cannot finish. Do I miss something here?
[code]

[2016-02-03 15:40] danthorpe commented on #174
Hi @bastianschilbe - this in interesting, could be a bug.

I'm assuming that you're dismissing the `UIAlertController` that is presented? If so, I think your expectations are justified.

I'll take a look into it tonight, hopefully get back to you.

[2016-02-03 19:50] bastianschilbe opened #175 "Completion block isn't called in ~0.1% of cases when a condition is attached."
If you have a operation and prevent it from running by a failed condition, the completion callback isn't always called. Try the following with an iOS test target:
[code]
I see about 1-10 expections unfulfilled.
Do I use conditions the wrong way?

[2016-02-03 19:58] danthorpe commented on #175
Hmm, interesting - I'll have a look into this, too.

There isn't anything special in the framework regarding `completionBlock` - it's just the same behavior as `NSOperation`. The documentation is a little vague about when the completion block is executed. Have you written this test because you've noticed some odd or random behavior?

I tend to use `FinishedObserver` instead of completion blocks, a

[2016-02-03 20:12] bastianschilbe commented on #175
Yes I've tested it with the FinishObserver with the same result.
I've some nested GroupOperations and some operations in them have a condition which is failing and the finishedObserver isn't called. I've already spent some time to track down the issue but I'm kind of lost. It seems to be some sort of race condition. If I slow down the .forEach loop by a logging breakpoint with each iteration the c

[2016-02-03 20:25] danthorpe commented on #175
Hmm, okay. Can you describe or share a simplified example of the nested `GroupOperation` where this occurs? Just sharing the `init` and `execute` implementations of the GroupOperation` would help me to see how your nesting is supposed to work.

Have you turned on `.Verbose` logging? If you turn it on for the outer group operation it should cascade to the child operations. This will log out all the

[2016-02-03 20:51] bastianschilbe commented on #175
I'm trying to provide a simplified test case. Just need some time.
If that helps: the unfulfilled operations seem to be in state .Ready and still on the operation queue. The conditions on them were evaluated.

[2016-02-03 20:54] danthorpe commented on #175
Okay, could well be a lock issue inside the state. Hopefully, the verbose state changes can reveal if a dependency has not finished.

I'm working on another issue right now, but I'll come back to this and use your loop test case as a starting point.

[2016-02-04 04:18] jshier opened #176 "More convenient operation dependency sequence creation"
I've found myself rebuilding my `Operations` based networking layer recently and have gotten rather sick of the `declare operation -> add conditions/observer -> declare second operation -> add conditions/observers -> add first operation dependency to second operation -> etc.` code I write rather frequently. Plus, I'm rather a fan of some of the asynchronous sequence code I've see used by the vario

[2016-02-04 08:21] danthorpe commented on #176
This is really interesting, and quite serendipitous - see my [tweets from yesterday](https://twitter.com/danthorpe/status/694986693796085760).

I've also been thinking about making chaining operations easier to write, as its such a common scenario, and in general I think it makes sense to promote `Operation` subclasses which are small and easily composed. To this end, I've done some stuff on [Resu

[2016-02-06 19:08] danthorpe opened #177 "CloudKitOperation add header documentation"

[2016-02-06 22:06] StephenDaedalus opened #178 "Proposed CloudKitOperation Usage in 2.6"
In the prior version of the framework, I was able to combine a state variable, CloudSynchronized, into a wrapper Operation or GroupOperation that contained a CloudKitOperation
[code]
This allowed me to use a master GroupOperation that would coordinate a complicated synchronization process with CloudKit by adding various operations to using the addOperation call. Now I'm wondering if this is still

[2016-02-06 22:23] danthorpe commented on #178
I think it might still be a valid strategy - but perhaps needs a little bit of changing to work with `CloudKitOperation` due to land in 2.6.

Can you share the `CloudSyncronizationState` type? i.e. what are the states? I'm just trying to get my head around these "state" properties in the operation.

Essentially, you've got a `GroupOperation` which is responsible for a bunch of different `CKOperati

[2016-02-06 22:41] StephenDaedalus commented on #178
You'll see the states in the operationDidFinish method above. I'll try to revert back to the way I've done it in the code above (which I had made obsolete by attempting to eliminated the need for yet another wrapper GroupOperation).

I think the only issue I ran into was the following call:

       operation.addCompletionBlock { self.finishWithError(self.error) }

This worked on your old CloudKitO

[2016-02-06 22:51] danthorpe commented on #178
operation.addCompletionBlock { self.finishWithError(self.error) }

Does it not work at compile time? Or runtime? I would change this to either subclass `ComposedOperation` instead, or to use a `FinishedObserver`.

Also, there is possibly [a bug](https://github.com/danthorpe/Operations/issues/175) in `Operation` regarding this not always being invoked correctly.

[2016-02-06 22:56] danthorpe commented on #178
A few more thoughts...

I think it probably makes sense for you to stick to version 2.5 for the moment. There are just a few too many rough edges with the new `CloudKitOperation` at the moment, and I don't want you to change a bunch of your working code to suit something which is so bleeding edge. This is why it isn't released yet, and it's not going to get done until at least next weekend now.

A

[2016-02-06 23:15] StephenDaedalus commented on #178
Daniel,

To be honest I'm not in that big a rush so don't hurry on my account.

The new design is awesome because of its built-in "retry on error" repeatability. It's very cool. I can wait to get that rolling and perhaps my code will provide a really good set of real-world tests.

I'm going to follow your advice and go back to my 2.5 design but may still try to see what I can do to make it work wi

[2016-02-09 07:05] danthorpe opened #179 "Reachable Operation - still has a bug"
There is still a bug in `ReachableOperation`. It works correctly when the device is already online, however when offline, the operation does not execute when the device comes back online.

The most recent change here remove the private singleton which was holding all the "observers" instead making them all individual. But this is not going to work.

So, back to the drawing board and need to re-con

[2016-02-09 18:22] StephenDaedalus commented on #178
I may have confused the issue with the discussion about a coordination state variable, CloudSynchronizationState, so let's put that aside for now. In a pared down example I will try to illustrate my requisite use-case for your new CloudKitOperation.

Consider the CloudKitDatabaseOperationType, which mirrors your CKDatabaseOperationType, though I actually started using this after our conversations

[2016-02-10 08:31] ansf opened #181 "GroupOperation can crash when child operations finish with error"
While looking for some other issue, I triggered a crash in GroupOperation.operationQueue(operationDidFinish:withErrors:) which looks like a synchronization issue to me.

The following snippet can be used to trigger the bug:

[code]

BTW: should we add a way to allow waitUntilAllOperationsAreFinished without changing the code?

[2016-02-10 09:04] danthorpe commented on #181
Hi @ansf thanks for the feedback!

Can you share the stack trace from this? Might be a dupe of #174?

Regarding `waitUntilAllOperationsAreFinished` - this is regarded as an anti-pattern, as blocking the queue is not the correct way to manage scheduling. If you need to perform a task after other have finished, then you can use standard dependencies, group, or observers.

[2016-02-10 10:46] ansf commented on #181
Hi @danthorpe

I not sure if it is a dupe of #174 though both bugs seem to have to do with synchronization.

This is the stack trace of the crashing thread:

[code]

[2016-02-10 12:44] JamieWhite opened #182 "ResultOperationType not included with iOS extension target"
Any reason for this?

I'm also not even sure how the extension target builds without this because it's referenced in the code.

[2016-02-10 13:43] danthorpe commented on #182
Hi Jamie -- sorry about this. I think the extension project might just be out of sync. Are you using master or development branch?

[2016-02-10 14:27] danthorpe commented on #178
Thanks for this @StephenDaedalus - quite a lot of detail which I will work through. I think the key for me, will be to make the dependency chaining stuff work nicely with the new `CloudKitOperation`. Once I've got that in place, I'm going to work through some examples of *what I think* is typical CloudKit setup code - and hopefully, this will align a bit more closely with how you'd like to use it

[2016-02-10 14:28] JamieWhite commented on #182
yeah I'm running off of development.

I've been thinking about these different projects. Would it make more sense to split all the none extension stuff into a separate framework within the same repo? So have like Operations.framework (core stuff) then Operations_App.framework

[2016-02-10 14:38] danthorpe commented on #182
Yes, when I did it at the time, I knew that it would be a huge PITA to keep them in sync. I spect a fair bit of time looking though how to use a custom modulemap so that stuff that was iOS only, or "non-extension" would be in a different module, i.e.

[code]

But... at the time, I thought Carthage was going to resolve the issues, and hopefully SwiftPM will bring about even greater changes to how i

[2016-02-10 18:06] jshier opened #183 "Cancellation and Conditions"
Up until recently I haven't been using conditions much. However, I'm now refactoring my network stack so that every operation has a condition that certain bits of information are set. So now I'm starting to run into this `assert` every so often, with no code changes from me:
[code]
This doesn't seem like something I can avoid in my own code. I'll investigate more but it's very intermittent, which

[2016-02-10 18:11] danthorpe commented on #183
Hi @jshier - thanks for this. I think it's the same known issue which I'm currently working on.

This bit of code is getting refactored. Essentially I'm making all of the properties (such as cancelled etc) thread safe.

[2016-02-10 18:13] danthorpe commented on #183
For guidance - if you can work around it for now, that would be great. I hope to have this race condition fixed in development by end of day tomorrow.

[2016-02-10 23:42] #182 closed

[2016-02-11 18:14] danthorpe opened #186 "UIOperation does not finish"
`UIOperation` does not actually finish after it does the presentation. But it does accept a completion block. This is all a bit strange. There is no need for a completion block, and instead, it should just `finish()`.

[2016-02-11 18:23] danthorpe commented on #174
Hi @bastianschilbe, can you check this again now on the latest `development`? Thanks!

[2016-02-11 18:27] danthorpe commented on #181
@ansf thanks for sharing this - will look into it next...

[2016-02-12 23:11] malhal commented on #174
The Alert Operation was designed by Dave Delong who is not a UIKit developer and instead of solving his problems using UI methods he has opted to make a super complicated wrapper via his NSOperation framework. This library should come with a warning that it shouldn't be used by programmers already proficient in UIKit and all beginners. In his talk on this at WWDC I remember him saying there are is

[2016-02-12 23:13] malhal commented on #174
And by the way same thing with CloudKit, it already has an internal queue that runs sequentially so there is no reason to wrap it up in more operations.

And same thing with NSURLSession.

[2016-02-12 23:28] jshier commented on #174
@malhal I don't think you understand the point of this library, or operations in general. This library, and the Advanced NSOperations talk and code that preceded it, provides the foundation for and wrapper around common asynchronous tasks used by developers on Apple's platforms. It does this to expose the added functionality of operations, namely dependency chaining, cancellation, conditions, and

[2016-02-13 00:21] malhal commented on #174
Hi Jon sorry I didn't meant to sound like I was whining. The reason I posted here is the OP's alert did not finish the operation because it is not using UIKit correctly. So the people watching this thread, which is referenced by other operation github projects btw, would all understand the inherent design flaw in this library. And no offense you to or any of the collaborators it's not your fault,

[2016-02-13 10:43] danthorpe commented on #174
@bastianschilbe - sorry your bug report has been hijacked here. I am still looking into your issue. 😃

Thanks to @jshier for the timely & excellent response 👍. I'm really grateful to have supporters and advocates in this project!

@malhal please [create a new issue](https://github.com/danthorpe/Operations/issues/new) if you have experienced a bug or have constructive feedback, for the code *in thi

[2016-02-14 13:03] danthorpe opened #188 "UIOperation does not always finish"

[2016-02-14 14:33] danthorpe commented on #174
@bastianschilbe this bug should now be fixed on `development` branch.

[2016-02-14 14:42] danthorpe commented on #183
Hi @jshier! Regarding this issue.. I think the issues you have experienced here might be related to the general KVO issues which have been investigated this week and are being tracked in #175, with some improvements merged in #180.

Would be interested to see if the changes in #180 have alleviated this issue for you at all.

If not: I think the nest step is to clarify if it's a "cancelled" state r

[2016-02-14 18:29] danthorpe commented on #181
This has now been fixed in #189 which has been merged into `development`. I'd like to close this issue unless you're able to still re-produce the crash/error.

Thanks for the bug report - great find!

[2016-02-15 16:35] ansf commented on #181
Yep, I cannot reproduce it in the release branch.
Thanks for the fix!

[2016-02-15 18:00] danthorpe commented on #181
Great! I'll close this!

[2016-02-15 18:00] #181 closed

[2016-02-15 23:31] danthorpe commented on #183
@jshier I'll see if I can sort this out this week - would be great to fix this in 2.6.0.

[2016-02-15 23:36] danthorpe commented on #112
Hi @JamieWhite - just wanted to keep you up to date with where I am on this issue.

Unfortunately, I'm not going to get round to fixing this for v2.6.0. Sorry about that. The reason being that it's already been almost 2 months of development, so bug fixes need to get merged and released.

I think for v2.7, I will start to look at making a workspace with nested projects / modules which will hopeful

[2016-02-16 08:54] JamieWhite commented on #112
Hey, sorry I've been on holiday. I'm planning to have a play around and familiarise myself with the project this weekend to try and propose something.

[2016-02-16 21:20] danthorpe commented on #183
Okay - so I've made this change in v2.6.0: see [here](https://github.com/danthorpe/Operations/commit/5ad6f63f9a47ae8bece413447ae5d812c931251c). I'm not actually sure if this will fix this issue, and I've not been able to write a unit test to reproduce this issue. However that change is something which should have been inlace already. If the cancelled state changes, so should the conditions readine

[2016-02-17 10:37] danthorpe commented on #174
I'm closing this ticket now - v2.6 is released.

[2016-02-17 10:37] #174 closed

[2016-02-20 17:08] seancatkinson opened #194 "UIOperation navigation Controller wrapping"
Should we be wrapping all presented view controllers other than UIAlertController in a navigationController?

I would suggest that we add UISplitViewController, UITabBarController and of course UINavigationController to the list of unwrapped presented view controllers - or add an additional parameter to the method with a default value of true as to whether to wrap or not so that consumers can easi

[2016-02-20 17:22] danthorpe commented on #194
Hi @seancatkinson - thanks for the suggestions & input!

Yes, you are correct that `UIAlertController` is not the only `UIViewController` subclass which should avoid being contained in a `UINavigationController`. Your list looks about right - but another argument/parameter is clearly the better way to go (and test) :+1: - a PR fixing this with tests would be great :+1:

Regarding the name, and rea

[2016-02-21 08:50] danthorpe opened #195 "Refactor Observers, part 2"
- [ ] Add `willDetachFromOperation` to the base protocol
- [ ] Prune observers from the `Operation` after their last event has been observed.
- [ ] Add properties for `didAttach` and `willDetach` to all the block based observers.
- [ ] Add labels to the closures used in the block based observers.

[2016-02-21 21:59] danthorpe commented on #194
Closing this now as #196 has been merged which addresses this issue.

[2016-02-21 21:59] #194 closed

[2016-02-22 11:22] bastianschilbe opened #197 "Errors in nested group operations don't aggregate up"
The error produced by an operation inside a group operation which is executed in another group operation isn't aggregated to the outer group operation. There is also a comment in code which says that it is explicitly avoided to add the errors to prevent duplicating all errors. But shouldn't this test run:

        let failingOperation = BlockOperation { (continueWithError) -> Void in
            c

[2016-02-22 15:55] danthorpe commented on #197
@bastianschilbe - yeah, I think you might have discovered a regression here! I'll have a look into it. When I added that comment: the `GroupOperation` was automatically getting the errors from any nested `GroupOperation`, but maybe this has stopped happening.

But yeah - I will look into this - good shout!

[2016-02-24 21:34] jshier opened #199 "Subclassing RepeatedOperation is very painful"
Due Swift's subclass initializer requirements (a subclass' designated initializer must call the superclass' designated initializer, not a convenience initializer, and a subclass must have a designated initializer) creating a subclass of `RepeatedOperation` is quite painful, as the required convenience generators and such are not public. In order to create my initializer, as such:
[code]
I had to m

[2016-02-24 22:00] danthorpe commented on #199
Hi @jshier - this is great feedback - I've not tried subclassing this outside of the module. It can definitely be improved. :)

I think if I make the convenience initializers in `RepeatedOperation` all designated initializers (effectively), which will make the library code a little bit less neat, then it'll be much easier for consumers to subclass it. I was also thinking of making the initializer

[2016-02-24 22:04] danthorpe commented on #152
@jshier - can we re-visit this issue considering the recent post-v2.6 changes to observers? Did we address all your concerns? If so, can we close this?

[2016-02-24 22:07] jshier commented on #199
I think if the initializers allow the flexibility the convenience initializers expose, then exposing the underlying types would be unnecessary. However, I can see how opening up the initializers like that would lead to some rather messy and duplicate code. I would lean towards the initializer path since once those are open the need for external developers to use the other types is essentially elim

[2016-02-24 22:08] jshier commented on #152
I'll take another look tonight at the latest changes and see.

[2016-02-24 22:10] danthorpe commented on #199
Yep - I agree. Take the hit on `RepeatedOperation` becoming a little messy by "opening up" (i.e. remove `convenience` and *just making it work*), instead of making public all the helper generators and other things.

Can always make public later and refactor the internals of `RepeatedOperation` later.

[2016-02-24 22:11] danthorpe commented on #152
Thanks! (I'm just trying to manage the issue count)

[2016-02-25 03:22] wmalloc opened #200 "Unable to compile on El Capitan on case sensitive file system"
CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler
(5 failures)
/Users/malik/Library/Developer/Xcode/DerivedData/Permissions-dhbmprznmjtvyugxqnfdekwzvzfs/Build/Intermediates/Pods.build/Release-iphoneos/Operations.build/unextended-module.modulemap:2:19: error: umbrella header 'Operations-umbrella.h' not found
<unknown>:0: error: could not build Objective-C module 'Operations'
/Us

[2016-02-25 03:24] wmalloc commented on #200
Xcode Version 7.2.1 (7C1002)

[2016-02-25 05:29] jshier commented on #152
Looks like this latest set of changes has made conforming to multiple observation protocols somewhat more complicated. I has this observer before:
[code]
Which now doesn't work because the compiler now sees two `events` properties, from the underlying protocol extensions. Adding my own `events` property doesn't work because the various `OperationObserverEvents` aren't public. Once they're made pub

[2016-02-25 05:34] jshier commented on #152
Somewhat tangential, but perhaps related: is there a way to check if, in that `UIActivityIndicatorView` extension above, any observer is already attached? I don't think there is, at least with a `BlockOperation`. Perhaps a custom observer type that stores a weak reference to the view, so I could check `operation.observers` if it already exists?

[2016-02-25 05:54] danthorpe commented on #200
Did you run pod install?

[2016-02-25 05:59] danthorpe commented on #152
Okay. Will remove the events stuff.

[2016-02-25 06:02] danthorpe commented on #152
Yeah, there is no way to check, and I can't introduce Equatable as that will force generics and screw everything up.

I think you'll need a custom protocol, which is Equatable then flatMap on the observers array, then find using a key of some sort.

[2016-02-25 06:52] wmalloc commented on #200
That is what is confusing is that I am not using it as a Pod, I am using with carthage, and when I do carthage update --platform iOS above output is given, not sure why it is trying to deal with pod header files.

If I do the same thing without the case sensitive file system the carthage update succeeds.

[2016-02-25 07:11] danthorpe commented on #200
Okay, I think I know what is going on.

So, is this the scenario? You have a project, using Carthage, which you're using with `github "danthorpe/Operations"` in the Cartfile.

And you're using the latest version of Carthage? Because in this version, I think Carthage will go off an attempt to build *every* .xcodeproj that it can find - e.g. the example app Permissions, which itself uses CocoaPods t

[2016-02-25 08:04] danthorpe opened #201 "Refactoring Operation Observers, part 3"
- [ ] Remove the `events` property.

[2016-02-25 08:19] danthorpe opened #202 "UIActivityIndicatorViewObserver"
Seems like it would be sensible to have a `UIActivityIndicatorViewObserver` class.

[2016-02-25 08:20] danthorpe commented on #152
Okay - events stuff has been removed. Gonna close this for now. Have created #202 for new observer type: `UIActivityIndicatorViewObserver`.

[2016-02-25 08:20] #152 closed

[2016-02-25 08:23] danthorpe opened #203 "Refactor RepeatedOperation initializers"
At the moment, it's very tricky to subclass `RepeatedOperation` from outside the module.

- [ ] Remove `convenience` initializers - as these cannot be used by subclasses.
- [ ] Try to minimize the messy initialization code.
- [ ] Unify / Cleanup / Remove the `Repeatable` & `RepeatedOperation` stuff - I think this has got a bit confused since it was first written.

This is to address issues raised

[2016-02-25 18:47] wmalloc commented on #200
I am using the latest release 0.14.0. I guess I should let Carthage folks know what is going on.

[2016-02-25 18:53] danthorpe commented on #200
I was gonna say - hold off on that for now. I'll try to investigate this tonight.

[2016-02-25 22:09] danthorpe commented on #200
Also just to be clear - I don't see any evidence that this is in any way related to a case sensitive file system - why do you think this is the case?

[2016-02-25 22:14] wmalloc commented on #200
I have setup the same on a case insensitive system and it builds without any issues, They are both setup
El Capitan (latest release version) (one system with case sensitive and one case insensitive)
Xcode
Carthage 0.14.0
CocoaPods 0.39.0

This is by process of elimination. I can try another system and try to dig in some more

[2016-02-25 22:16] danthorpe commented on #200
Hmm, Okay. That's weird. I've got to leave this right now - will come back to it tomorrow.

[2016-02-27 12:00] danthorpe commented on #199
Hi @jshier - I've made quite a few changes to `RepeatedOperation` and `RetryOperation` to hopefully make subclassing them a lot easier and less painful.

If your `Operation` subclass conforms to `Repeatable` then you will still need to use `RepeatableGenerator` which is now public. So, from your example:

[code]

Let me know how it goes. Hopefully this issue is resolved.

[2016-02-27 12:01] danthorpe commented on #199
These changes are now on the `development` branch.

[2016-02-27 13:53] danthorpe commented on #197
Hi @bastianschilbe - thanks for this bug report. You were totally correct! 👍

Anyway, I'm pretty sure that I've fixed it now, merged into `development`. If you have a chance to work on the dev that would be great. Let me know how you get on, and hopefully this can be closed 😀.

FYI - There are some breaking changes on `development` related to operation observers. Hopefully not too serious for you

[2016-02-28 12:18] danthorpe commented on #200
Just to clarify, using the latest version of Carthage, on a project using Operations I get this:

[code]

I don't think it has anything to do with a case insensitive file system. (I don't have a case insensitive file system).

[2016-02-28 17:48] danthorpe commented on #200
@wmalloc can you check on your case-sensitive file system if build Operations using carthage is still an issue. Please try building from `development`

[code]

I think I've fixed this temporarily.

[2016-02-29 04:14] wmalloc commented on #200
Thanks @danthorpe the development branch compiled correctly.

*** Building scheme "iOS Operations" in Operations.xcodeproj
*** Building scheme "iOS Extensions Operations" in Operations_ExtensionCompatible.xcodeproj
*** Building scheme "Operations" in Last Opened.xcworkspace
*** Building scheme "Operations" in Last Opened.xcworkspace

[2016-02-29 16:04] danthorpe commented on #200
Okay, great. I'm gonna close this for now. I have an issue in Carthage to figure out how it should ultimately work with example projects.

[2016-02-29 16:04] #200 closed

[2016-03-02 02:45] tbaggett opened #205 "Sources/Features/Shared/CloudCapability.swift should be included in tvOS PodSpec"
tvOS doesn't currently support retrieving a user's contacts information via discoverAllContactUserInfosWithCompletionHandler. However, it does support checking the user's iCloud account status with [accountStatusWithCompletionHandler](https://developer.apple.com/library/prerelease/tvos/documentation/CloudKit/Reference/CKContainer_class/index.html#//apple_ref/occ/instm/CKContainer/accountStatusWith

[2016-03-02 07:05] danthorpe commented on #205
Arr - good spot, thanks @tbaggett. Will look into this today as a 2.6.0 bug, and release it as 2.6.1.

[2016-03-02 07:52] danthorpe commented on #205
@tbaggett this is now fixed on this branch: `hotfix/OPR-205_tvOS_cloud_capability`. If you can try it, that would be great. Change your Podfile so that you have:

[code]

I did create a sample app to check that it all compiles, but I've not got entitlements set up, so can't *really* test it right now. Hopefully should be easier for you.

Let me know how it goes, and I'll create 2.6.1 release.

[2016-03-02 14:54] tbaggett commented on #205
Awesome, thanks for the quick response! I will test this today and get back to you with the results.

[2016-03-02 23:44] tbaggett commented on #205
Its working great, no problem. I set breakpoints in the CloudCapability verifyAccountStatus method and confirmed that it was being called and that the "Available" CKAccountStatus was returned when I passed in my custom container name.

[2016-03-02 23:57] danthorpe commented on #205
Great. It's about midnight here in London. Will merge and do v2.6.1 tomorrow morning (in about 8 hours).

Thanks for the feedback!

[2016-03-03 02:25] briancordanyoung commented on #200
@wmalloc @danthorpe What is the best way to make sure I'm using this version.  A Cartfile like this?:
github "danthorpe/Operations" "release/2.6.1"

[2016-03-03 02:28] wmalloc commented on #200
@briancordanyoung if you do not specify any version number you will get the latest release version which is 2.6.1.

But I tested this version:

github "danthorpe/Operations" "development"

[2016-03-03 02:29] briancordanyoung commented on #200
@wmalloc I tried that and got 2.6.0   I run:

After updating the Cartfile... yes?

[2016-03-03 02:33] briancordanyoung commented on #200
@wmalloc 2.6.0 is still marked as the latest release, fro what I can tell. [releases](https://github.com/danthorpe/Operations/releases)

[2016-03-03 06:14] danthorpe commented on #200
@briancordanyoung your first comment should work for you. I have picked that fix into the 'release/2.6.1' branch. This is a release candidate - but it will still report the version as 2.6.0 as the only change is this fix. No version number bumps.

However I will be finishing this off in a few hours - so then you shouldn't need to change anything.

[2016-03-03 07:01] danthorpe commented on #205
Okay, this has been merged as a hot fix. Will be in `2.6.1`, `master` and `development` later today.

[2016-03-03 07:01] #205 closed

[2016-03-04 12:37] danthorpe opened #212 "Move example projects to danthorpe/Examples"
- [ ] Permissions
- [ ] Last Opened

[2016-03-04 21:16] felix-dumit opened #213 "Group Operation With Result"
Hi,

I'm refactoring part of my code into operations and I'm struggling with modelling a couple of scenarios.
I'll post the 1st on here then the next on a separate issue.

[code]

I have the operation as above, it needs to call the `LoadImageDataOperation` which produces the result that gets passed into the `CompressImageData` operation.
The issue is that I want the `CompressAssetOperation` to hav

[2016-03-04 21:20] danthorpe commented on #213
Oh - this is interesting! Great question -  I haven't thought about using result injection inside a group. Let me have a think and get back to you.

[2016-03-04 21:24] danthorpe commented on #213
Maybe I'm being silly here, but would this work?

[code]

[2016-03-04 21:29] felix-dumit commented on #213
I think that might work. Very simple :)
I probably don't need the `InjectionOperationType` anymore in this case right ?

[2016-03-04 21:32] danthorpe commented on #213
Yup :+1: - you can remove those commented out lines in your sample.

Also, it's probably best to move the checking of the result being nil (`self.log.fatal`) into the `execute` method of whatever operation will consume this result. I think instead, that operation should assert that it's requirement is fulfilled.

[2016-03-04 21:51] felix-dumit commented on #213
When I'm trying to add this group operation as a parameter to another in `operation2.injectResultFromDependency(op)`, the compiler keeps complaining that I'm not passing the block to configure the dependency `{op, dep, errors in }`.
So i've had to do this:
[code]

I wonder if it would be better for this operation to not be a group operation, and instead produce those child operations with `op.prod

[2016-03-04 21:54] danthorpe commented on #213
Hmm, I think you're on the right track with it being a Group - that makes more sense.

Does `operation2` conform to `AutomaticInjectionOperationType`?

[2016-03-04 21:57] felix-dumit commented on #213
Oh I had it just as `InjectionOperationType`. My bad

[2016-03-04 22:01] danthorpe commented on #213
That's no worries - this is great feedback for me. It's a bit subtle. The `InjectionResultType` is basically an empty protocol, but it provides the `injectResultFromDependency` API with the block. And `AutomaticInjectionOperationType` extends this and adds the `requirement` property, and then you can call the same API without the block.

My thinking behind this, is that it's quite possible that an

[2016-03-04 22:02] felix-dumit commented on #213
The `AutomaticInjectionOperation` pretty much creates the same block as what I had to do manually so it makes sense

[2016-03-04 22:03] danthorpe commented on #213
Yup. So it works?

[2016-03-04 22:23] danthorpe opened #214 "Move Code Coverage to Coveralls"

[2016-03-04 22:25] felix-dumit commented on #213
Yes it does work!

As I was typing out my 2nd question I came up with a solution, so I guess I'll have to bug you again some other time :)

[2016-03-04 22:28] danthorpe commented on #213
Great!

Yeah - feel free to create issues on here is you have questions, queries, bugs, or any problems really. I'll always try to help, and there are other contributors here that will often help out too :)

I'm gonna close this issue now if that's okay?

[2016-03-04 22:28] felix-dumit commented on #213
Ok feel free to close it.
Thanks!

[2016-03-04 22:29] danthorpe commented on #213
:+1:

[2016-03-04 22:29] #213 closed

[2016-03-04 23:12] danthorpe commented on #197
I'm doing some clean up - pretty sure that this is fixed. @bastianschilbe please re-open if not :)

[2016-03-04 23:12] #197 closed

[2016-03-04 23:12] danthorpe commented on #199
Hi @jshier I'm doing some clean up and closing this issue, please re-open if you still have any issues subclassing `RepeatedOperation` :)

[2016-03-04 23:12] #199 closed

[2016-03-05 03:46] StephenDaedalus opened #215 "setErrorHandlerForCode to ignore an error?"
I'm testing one my CloudKitOperation and am getting a .PartialFailure that I want to ignore. Do you have a recommendation as to how this should this be handled?

Should I use a custom handler and setErrorHandlerForCode is there a simpler way to intercept and simply swallow the error?

[2016-03-05 12:48] danthorpe commented on #215
Hmm - well, `CloudKitOperation` doesn't have any automatic "handling" of `.PartialFailure`. But it's one of the errors that you're almost certainly gonna want to process in a production quality app.

So... you could try this:

[code]

Which essentially is going to provide an error handler which does nothing.

Perhaps it would be good if `RetryOperation` had some functionality where it would be pos

[2016-03-05 13:26] danthorpe opened #216 "Add SwiftLint"
- [ ] Running locally
- [ ] In CI

[2016-03-07 18:58] jshier commented on #183
I haven't seen this in quite a while, so I think it was fixed in 2.6 or 2.7.

[2016-03-07 19:04] jshier opened #217 "Enhancements for Location Operations"
I've encountered an issue and I'm not sure what I need exists at the moment. Essentially, we're seeing `UserLocationOperation`s take longer than desired for some reason. I'd like to have the ability to cancel that operation (really any operation) if they take too long, and not have to build the operation with that in mind. It seems like either an observer that would start an internal timer, or a s

[2016-03-07 19:20] danthorpe commented on #217
Hi @jshier - good question!

There is already a `TimeoutObserver` which you could attach and then use to trigger a retry or inform the user.

I have though that `Operation` should just have this kind of thing built into it - but seems like any default timeout would be highly dependent on the use case, and so I think it's best left to the framework consumer at this point.

Perhaps some operations l

[2016-03-07 19:21] jshier commented on #217
Sorry, that's exactly what I need. I'll try it out and see how it works.

[2016-03-07 19:28] danthorpe commented on #217
Okay - you will need to inject a block into the `UserLocationOperation` to get the location out of it.

So, you might want to write an extension like this:

[code]

[2016-03-07 19:28] felix-dumit opened #218 "Progress Observer"
I want to implement a progress observer for operations, something that can be used like this
[code]

This is what I have so far, but I don't like it very much. Can you think of a better solution?
Also maybe it would be easier to add the progress property directly to the Operation class.

[code]

[2016-03-07 19:46] jshier commented on #217
My `UserLocationOperation` is already in a `GroupOperation`, as I chain a network request that needs the location right after it. However, I've run into an interesting issue with `UserLocationOperation` and a timeout: the possible prompt for permission. In my scenario, the time it takes for the user to approve or deny location permissions should not be counted against the timeout. Using a simple `

[2016-03-07 20:11] danthorpe commented on #217
Hmm, yeah, that is less than idea. In which case, add the condition to your `GroupOperation`.

[code]

[2016-03-07 20:13] danthorpe commented on #183
Thanks @jshier for getting back to me on this - gonna close it for now.

[2016-03-07 20:13] #183 closed

[2016-03-07 20:25] danthorpe commented on #218
Hi @felix-dumit - firstly thanks for the feedback - this is an interesting idea!

I think the idea is pretty good, in the sense that it seems like framework consumers will want to be able to update UI to indicate the progress of their operations. But, I guess my first instinct would be to make `NSProgress` work with `Operation`. There was a talk at WWDC '15 which was very similar to the Advanced O

[2016-03-07 20:41] felix-dumit commented on #218
Ok I will take a look at that session, thanks.

I think for groupOperations a nice default progress would be the percentage of child operations that have completed.

[2016-03-07 20:49] danthorpe commented on #218
:+1:

And yes - totally agree with you on `GroupOperation` - and I *think* that `NSProgress` has the concept of nested progresses, maybe?

[2016-03-07 21:56] jshier commented on #217
Tried this and got some rather unexpected behavior:
[code]
The condition fires, and the permissions prompt shows up, but the condition immediately fails and the operation immediately finishes. I'm also not sure this is what I want, since I want the network operation that depends on the location to run regardless of whether we got a location. I'll try adding an empty `BlockOperation` with the condi

[2016-03-07 21:59] danthorpe commented on #217
Hmm, that's weird. So you don't get an opportunity to tap the alert?

I wonder if this is a regression which we've not noticed?

I guess, seeing as you've got a `GroupOperation` adding an empty `BlockOperation` to your group first, and add this as the dependency to your `UserLocationOperation` will help trying to figure out what is going on.

But, this should work, so there is a bug somewhere....

[2016-03-07 23:18] jshier commented on #217
Well, the prompt shows up and I can tap it, but whatever choice I make, the operation has finished, so nothing ever completes. Let me do some refactoring and also test on a device (this was the simulator) and I'll see what comes out.

[2016-03-07 23:21] danthorpe commented on #217
You can also play with [Permissions example](https://github.com/danthorpe/Examples/tree/development/Operations/Permissions) which has a `UserLocationOperation` setup.

I almost certainly would not trust behavior in the simulator when playing around with `CLLocationManager` - best to test this sort of thing on a real device.

[2016-03-08 00:17] ddmus opened #219 "Declarations from extensions cannot be overriden yet"
I've just updated to 2.7.0 and received avalanche of errors from Xcode that I cannot override finished(errors: [ErrorType]) function which is declared newly in Operation class extension. Am I missing something here?

This also applies to updated operationQueue(queue: OperationQueue, didFinishOperation operation: NSOperation, withErrors errors: [ErrorType]) in GroupOperation extension and there mig

[2016-03-08 00:17] jshier commented on #217
Adding the condition to the `GroupOperation` didn't work on device either, the behavior was the same. However, adding an empty `BlockOperation` that has the condition and which the `UserLocationOperation` has as a dependency gave me the behavior I wanted. As seen here:
[code]

[2016-03-08 00:20] jshier commented on #219
Yes, this is a fundamental limitation of the Swift language right now. I'm guessing it was an oversight in the refactor, in an attempt to clean things up by splitting the large `Operation` class into extensions. As the comments still talk about subclassing, this seems to be a bug.

[2016-03-08 00:22] jshier commented on #217
Overall I think the `TimeoutObserver` is a good start (I would like to see it call it's cancellation on the same queue the observed operation is being executed on, but that would require a bit more of a refactor and I'm not sure there's actually a benefit) but it certainly seems like `UserLocationOperation` could use it's own timeout mechanism.

[2016-03-08 00:38] ddmus commented on #219
Ok, I also like to split classes with extensions for readability if it does not break the whole project :-) I would assume such a refactor would go through some testing first and the issue would be spotted earlier.

I wonder how can I overcome this now as we use the framework in CI in combination with Carthage. I guess the best is to roll back to version 2.6 in the cartfile and wait for the update

[2016-03-08 00:48] felix-dumit commented on #218
I watched the session and `NSProgress` does have nested progress and overall some pretty powerful stuff, I don't know why it isn't more integrated into `NSOperations` as a lot of the abstractions are quite similar.

One issue though is that using `NSProgress` still requires you to KVO the properties you want, but I guess that would be "hidden" inside the `ProgressObserver`

[2016-03-08 01:13] jshier commented on #218
IMO `NSProgress` is an over engineered nightmare of an API, especially for anyone who needs to implement `NSProgress` in their own custom code. This is especially evident when trying to use it from Swift, as the `NSProgress` APIs are not very Swifty. However, I did find a fairly good [example here](http://jaanus.com/nsprogress-enhancements/).

That said, such integration should likely be protocol

[2016-03-08 01:22] #215 closed

[2016-03-08 01:22] #178 closed

[2016-03-08 07:04] danthorpe commented on #219
Hi @ddmus and @jshier - this is totally my mistake, sorry.

I'm gonna fix this by changing `Operation` back to its monolithic class, and removing that rule from SwiftLint. I'll do this now (this morning) and release v2.7.1 later today.

I'll also use this issue as a postmortem to track how this happened and wasn't caught be the tests and figure out how to stop it from happening again.

[2016-03-08 13:43] danthorpe commented on #215
Hi @StephenDaedalus  - did this work?

[2016-03-08 14:13] StephenDaedalus commented on #215
I closed it to avoid you having to hassle with my request. Compared with the finished(errors: [ErrorType]) issue mine seemed trivial.

It makes sense that CloudKitOperation knows about how to recover from certain error codes. I thought there may be some logic to intercept error codes.

I've been able to work through it so I closed it.

Note I also closed my other open issue. I made a change to my

[2016-03-08 15:55] StephenDaedalus commented on #219
For the interim, I just moved the override of `finished(errors: [ErrorType])` into the base class and it seems to have solved all my compilation issues.

[2016-03-09 09:19] danthorpe commented on #219
This has been fixed in 2.7.1 now.

[2016-03-09 20:53] ddmus commented on #219
Hi @danthorpe, thanks for the quick fix. I've updated to 2.7.1., but I can still see the issue in GroupOperation for didFinishOperation, willFinishOperation and willAddOperation. Can you please check this extension as well? Thank you.

[2016-03-09 21:03] danthorpe commented on #219
Yeah, I've just noticed this - totally my fault. I fixed the `Operation` one on the train the other day - didn't realize that I'd also put these into an extension. I'm gonna fix it right now... 2.7.2 impending....

[2016-03-09 21:05] danthorpe opened #222 "Fix GroupOperation extension methods"
See #219.

[2016-03-09 21:10] danthorpe commented on #219
Although actually... this is not correct. For `GroupOperation` you don't want to be overriding `func operationQueue(queue: OperationQueue, willFinishOperation operation: NSOperation, withErrors errors: [ErrorType])`, instead you should override `func willFinishOperation(operation: NSOperation, withErrors errors: [ErrorType])`.

Essentially the `GroupOperation` is the queue's delegate, and it imple

[2016-03-09 21:10] danthorpe commented on #222
Nope - not a bug.

[2016-03-09 21:10] #222 closed

[2016-03-09 22:20] ddmus commented on #219
Yeah.. I can see it now, I am sorry for that. I was confused by the function name change of `didFinishOperation` as Xcode reported it as unavailable, so I replaced it with one of the delegate methods with the similar name.

We should now be using `willFinishOperation` instead for adding operations to the group's queue if we want to do it after some of the former operation ends. Thanks for such a q

[2016-03-09 22:23] danthorpe commented on #219
Yeah - that's exactly correct. I did add `@availablity()` annotation for the renamed method - with a replacement. This was to try help people migrate, as Xcode should have offered a "Fix It" suggestion. But, I don't think this always works when the function has more than one argument. Anyway, 2.7.1 should be all good now.

Gonna leave this issue open for the moment, as I want to look at something

[2016-03-12 11:28] danthorpe commented on #219
Okay, so this is what happened with this bug.

I added Swift Lint to the project as part of 2.7.0, in both the Xcode build phases and on CI. One of the linting rules is the size of types. And in general I do think that this is a worthwhile rule. However, the `Operation` class is actually pretty big, as it supports dependencies, observers, conditions, cancellation, state management and finishing. I

[2016-03-12 11:50] danthorpe commented on #219
Gonna close this for now - but that is going to be a general strategy which I'm going to put in place as soon as I can and figure out the details.

[2016-03-12 11:50] #219 closed

[2016-03-12 12:39] danthorpe opened #226 "Fix Reachability"
Having merged some PRs, `development` is currently broken - and in general, the reachability stuff needs a bit of TLC.

[2016-03-12 15:45] danthorpe opened #227 "Fix warning logs"

[2016-03-15 07:08] danthorpe opened #233 "Make background task execution default on iOS"
- [ ] `BackgroundObserver` is automatic, not just when going to into the background.
- [ ] It is added to `Operation` by default, but only on iOS.

[2016-03-15 21:31] danthorpe opened #235 "Operation Profiler"
This is an idea prompted by some stuff done by @itsthejb in his fork.

The aim is to provide a way to extract performance metrics from `Operation` instances in a way which is amenable to feeding into analytics and tooling. The purpose for this might be to provide end-to-end integration metrics or for full system diagnostics, or even just to set some idea of the performance of a particular `Operati

[2016-03-15 21:44] itsthejb commented on #235
I like the sound of plugging into metrics, but I get what you about profiling in the wild. Still, will be great to get a convenient idea of the relative demand of various operations

[2016-03-17 08:52] ddmus opened #237 "malloc: *** error for object ...: incorrect checksum for freed object - object was probably modified after being freed"
Since 2.7.1 I am observing occasional crashes with the above error message. The crash happens in `Operation` class in `state` property setter, either on `willChangeValueForKey("State")` or `didChangeValueForKey("State")`. I observed it on both simulator and iPhone running iOS 9.2. Any ideas about the cause and fix for this? Thank you.

[2016-03-17 09:23] danthorpe commented on #237
Hi @ddmus - thanks so much for raising this. Do you have any crash logs or stack traces that you can share?

[2016-03-17 09:26] danthorpe commented on #237
Also, because `Operation` is always subclassed - can you tell what the subclass is? Is it your own subclass - if so, can you share how it is getting finishes?

Initial thoughts suggest that it's getting released/finished by a queue when the state is somehow still changing?

[2016-03-17 16:30] ddmus commented on #237
![operation-crash](https://cloud.githubusercontent.com/assets/5610919/13852931/cad96298-ec64-11e5-9374-21c8888afc55.png)
Here is the trace when the crash occurs. It's happening on the very begining before the operation starts executing. I just enqueue one of the group operation subclasses.

[code]

And here is the FullCheckOperation that is being added:

[code]

Here is the log:
```
[fg211,211,21

[2016-03-17 19:35] danthorpe commented on #237
Thanks for this - will look into considering the diff with 2.7.0 -> 2.7.1

[2016-03-17 20:16] danthorpe commented on #237
Did you try putting a breakpoint in `malloc_error_break` to debug this?

Also, what does the `enqueueMainOperation()` do? Is that just adding it to a queue?

[2016-03-17 21:05] ddmus commented on #237
`enqueueMainOperation()` just adds the operation to the mainQueue, nothing else. I am trying to reproduce the crash with the `malloc_error_break` breakpoint. Do I need to specify some module in the breakpoint, or just leave it blank?

Hope I will produce the crash soon, I have not seen it for couple of hours in the afternoon, so I thought I fixed the issue as I did some changes in the code based o

[2016-03-17 21:07] danthorpe commented on #237
I don't think it actually matters if you don't specify the module for malloc_error_break - I'm doing a quick google....

[2016-03-17 22:13] ddmus commented on #237
![operation-crash2](https://cloud.githubusercontent.com/assets/5610919/13862776/99cc4e82-ec95-11e5-9d35-992b576a35d2.png)
I was able to trigger the crash with this trace. Can I somehow dig deeper now to my code where this is triggered? I have not experience with `malloc_error_break`.

[2016-03-18 10:06] ddmus commented on #237
This is the trace with Address Synthesizer enabled.
![operation-crash4](https://cloud.githubusercontent.com/assets/5610919/13874637/81ad0cf6-ecf9-11e5-8e0a-c2fc5d233537.png)

[2016-03-18 10:35] ddmus commented on #237
Looking at the trace above with Address Sanitizer enabled, the Thread 3 with ExclusivityManager looked suspicious to me, so I deleted the MutuallyExlusive condition of the FullCheckOperation, as it was anyway not needed, I am using boolean flags to signal the operation is added to the queue, so I don't add it twice (I guess there is better way to do this, but anyway..). When I removed the Mutually

[2016-03-18 11:18] danthorpe commented on #237
Okay - well that's really helpful for me too!

So, possibly some kind of race-condition / memory issue when adding a mutually exclusive operation to a queue?

Does your operation also have any conditions which have dependencies?

[2016-03-18 11:21] danthorpe commented on #237
Okay, so thinking more about this - looks like the bug is that we're calling `willEnqueue` when we're also handling the mutual exclusivity stuff, which happens in another thread (I'll need to check how that works again).

So - could be that we're enqueuing (all this does is change the state to `.Pending` I think) when in actually fact we're being held by the exclusivity manager.

Are you absolutel

[2016-03-18 11:23] danthorpe commented on #237
You can turn on verbose logging too which might help figure out some of the scheduling issues. In your AppDelegate somewhere do this:

[code]

[2016-03-18 15:50] vamsiac opened #238 "Ideal way for Error handling"
What would be the best way to handle errors using this framework?
I know that errors array come back  along with the failed operation object, but would like to know better way to display these errors to the users.

Scenario:
1. You make a network connection in airplane mode
2. Operation's completion handler will be called with operation and errors `[My_App.ReachabilityCondition.Error.NotReachable]

[2016-03-18 16:57] danthorpe commented on #238
Hi @vamsiac - this is a really good question! Unfortunately I don't really have a good answer for you, certainly not a "silver bullet" kind of thing.

I think one think that would certainly make sense - would be to develop/evolve your own `ErrorType` protocol. Which you can then use inside your app more effectively.

For example:

[code]

You could then create (on iOS) an `AlertOperation` subclass

[2016-03-18 18:34] danthorpe opened #239 "Support added child operation observer in GroupOperation"
`GroupOperation` will inform an observer when new operations are going to be added to its queue. This would be a direct reflection of the `OperationQueueDelegate`, but it can be used like a regular observer.

[2016-03-20 18:25] danthorpe commented on #237
Okay, so this is a list of things which changes from `2.6.0` to `2.7.1` in the core "operation" files.

1. Operation.swift
1.1 Writing (i.e. updating) the operation observers is now thread safe.
1.2 Changed the finishing observers, to add "will finish" and "did finish".

2. OperationObserver.swift
2.1 Added `didAttachedToOperation` function to base observer protocol.
2.2 Same change as in Operatio

[2016-03-20 21:13] danthorpe opened #241 "Make changes for Swift 2.2"

[2016-03-20 21:32] danthorpe opened #242 "Support multiple Swift versions"

[2016-03-21 11:06] vamsiac commented on #238
Thanks Dan, that helps. will try that.

[2016-03-21 11:11] vamsiac opened #243 "Example for RetryOperation"
Struggling to find a way to generate RetryOperation?

[code]

[2016-03-21 14:17] danthorpe commented on #238
I think it's work highlighting that `NSError` is an excellent class to encapsulating error information for displaying to the user - and there is no need to re-invent the wheel.

But, also in Swift, `ErrorType` and the error handling mechanisms of Swift 2.0 conflate programmatic error and also recoverable errors - so figuring out a way to manage these which probably have different purposes is worth

[2016-03-21 14:33] vamsiac commented on #238
Dan,

I also noticed that "operationDidFinish" is replaced with the  "willFinishOperation", I might be facing a problem because of this.

Say I call PostOperation which posts data to the server.
when there is an error after posting information I was finishing the operation with that error.
This was working fine as far as I know when I was using "operationDidFinish"

But with the "willFinishOperati

[2016-03-21 14:46] danthorpe commented on #243
Hi @vamsiac - a great place to start looking for examples of `RetryOperation` is in the project itself. Both the [unit tests](https://github.com/danthorpe/Operations/blob/development/Tests/Core/RetryOperationTests.swift), and also other classes, such as [`CloudKitOperation`](https://github.com/danthorpe/Operations/blob/development/Sources/Features/Shared/CloudKitOperation.swift#L253).

I hope that

[2016-03-21 15:04] danthorpe commented on #238
Basically, from within an `Operation` instance, you always call `finish(error: ErrorType?)`.

The `willFinishOperation` and `didFinishOperation` are methods which are sent to observers before and then after the state of the Operation changes during the `finish` method. So, you, the framework consumer *never* calls `willFinishOperation` or `didFinishOperation` - these are called on the appropriate

[2016-03-21 15:07] vamsiac commented on #243
Cheers Dan, definitely unit tests helped me in lot of other cases but not this one.

[code]

        let uploadOp = PostMachineUpdateOperation()

cannot create RetryOperation for the above operation

`let operation = RetryOperation(anyGenerator(XXXXXXXX) , retry: retry)`
XXXXXXX what should i enter here to create a new instance of PostMachineUpdateOperation()

I am sorry new to functional stuff, t

[2016-03-21 15:10] danthorpe commented on #243
Yeah, that's no worries - so you'd do something like this:

[code]

See docs [here](http://swiftdoc.org/v2.1/func/anyGenerator/#func-anygenerator-element_-element) on `anyGenerator`.

[2016-03-21 15:13] danthorpe commented on #243
I think in the unit tests, because I need to create operations, which fail N times and then succeed, I have that logic wrapped up into a `produce` function, which is just returning a closure. i.e.

[code]

Given something like that you can then also do:

[code]

[2016-03-21 15:20] vamsiac commented on #243
haha, its one of those things I was struggling from this morning and you solved it with two lines.

This helped.
`let operation = RetryOperation(anyGenerator { PostMachineUpdateOperation() }, retry: retry)
`See **docs** here on **anyGenerator**.

[2016-03-21 17:40] danthorpe commented on #243
@vamsiac - great. I'm gonna close this for now. Please re-open if you have any more questions on `RetryOperation`. 😀

[2016-03-21 17:40] #243 closed

[2016-03-21 20:03] danthorpe commented on #242
Okay - gonna put a pin in this seeing as Xcode 7.3 & Swift 2.2 is here :)

Hopefully will get round to this before Swift 3.

[2016-03-21 20:03] #242 closed

[2016-03-23 21:26] danthorpe opened #245 "Bug: ComposedOperation creates a retain cycle"

[2016-03-23 21:27] danthorpe opened #246 "Bug: MutuallyExclusive operations/condition may prevent execution"

[2016-03-23 22:50] gvarela commented on #246
I've experienced this when trying to use with CLLocationManager

[2016-03-23 22:52] danthorpe commented on #246
Yep - it is an easy fix thanks to @difujia  - I'm just working on getting it merged correctly. There will be a 2.8.1 which has this fix for Swift 2.1.1 and the same fix in 2.9.0 which will be for Swift 2.2.

Hopefully will get it all sorted by this time tomorrow - unfortunately I've run out of time tonight.

[2016-03-24 00:36] danthorpe commented on #246
This has been fixed and merged into `swift/2.1` branch. Release pending (later today).

[2016-03-24 00:36] #246 closed

[2016-03-24 02:29] difujia commented on #241
Also, some tests are failing under Xcode 7.3 and Swift 2.2 for no reason (bad access in test code, e.g. PassbookCapabilityTests). But it's unclear whether Xcode breaks XCTest.

[2016-03-24 05:55] danthorpe commented on #241
Yeah I've seen the same issue. Yet to find a fix yet, but assuming for now that XCTest is not broken in Xcode 7.3, and instead this is possibly a new restriction on PassKit. The tests here are super simple, so not really sure what the issue is yet.

[2016-03-24 08:15] danthorpe opened #249 "Merge bug fixes for 2.8.1 into development"

[2016-03-24 09:15] vamsiac commented on #238
Yes Dan, the framework is very flexible and there is always more than one way of handling things. Your suggestion above seems to be sensible. I will follow this and let you know how it goes.

[2016-03-24 17:06] gvarela commented on #241
Location Capability breaks for me (bad access) in Xcode 7.3 and Swift 2.2 in my production app.

[2016-03-24 17:58] danthorpe commented on #241
Thanks @gvarela!

[2016-03-24 17:59] gvarela commented on #241
@danthorpe thanks for all your awesome work on this library!

[2016-03-24 18:02] danthorpe commented on #238
Okay @vamsiac  - I'm gonna close this for now. If you have any more feedback you want to share, that would be great - we can reopen this issue is there is more that can be done as far as the framework goes.

[2016-03-24 18:02] #238 closed

[2016-03-24 19:18] gvarela commented on #217
I had to write my own location operation because it takes a bit for the location manager to report speed. So, I had to create an internal timeout that would finish the operation with whatever location I last received if I don't get my ideal coordinates.

[2016-03-24 19:28] danthorpe commented on #217
@gvarela I expect in most cases that is what would be done, framework consumers would create their own `LocationManager` class to keep hold of previously retrieved `CLLocation` instances.

Did you create your own `Operation` subclass though? Or did you subclass `UserLocationOperation`? Really interested to hear what you had to do - as there is always potential to improve things here.

[2016-03-24 19:42] gvarela commented on #217
I originally started using the UserLocationOperation and used DidStartObserver to tweak the accuracy (because best and best for navigation return -1 and -2 respectively). But, when I need to ensure I was getting speed (which takes a second or two) I just copied over the class into my own project and tweaked the logic to fit my needs which included an internal timeout.

[2016-03-24 19:47] danthorpe commented on #217
Okay - I'm just thinking in terms of a feature request for `UserLocationOperation` v3.0 what do we want?

- [ ] Automatic timeout with configurable but sensible default value
- [ ] Automatic cache of previously received locations - available immediately.
- [ ] Return the best result when timeout is reached even if the desired accuracy is not met.

[2016-03-24 19:51] gvarela commented on #217
For the last one consideration needs to be made when CLLocationManager accuracy is set to kCLLocationAccuracyBest and kCLLocationAccuracyBestForNavigation which return -1 and -2. So, accuracy will never meet that criteria.

[2016-03-24 19:52] danthorpe commented on #217
Right - sorry - yes, bit slow over here - only just got why those numbers are significant! I did not know that!

Will get working on this after sorting out Swift 2.2

[2016-03-24 20:00] danthorpe commented on #217
So, the `.Best` and `.BestForNavigation` are really more suited to longer running processes - because they should *never* end but just always report their locations. So, it would need some special handling (basically just immediately return).

`UserLocationOperation` is not really the tool for a navigation focused location operation. However, a `RepeatedOperation` subclass which repeats `UserLocat

[2016-03-24 20:03] gvarela commented on #217
Yeah, it's one reason I used my own. If you are trying to save battery but need the accuracy (bestfornavigation uses wifi, bluetooth and GPS) but, run location updates in the background for extended periods of time this becomes critical. Again mine is a special case as I am doing passive tracking for an app that is trying to collocate the phone with a car for preventing texting while driving.

[2016-03-24 20:11] danthorpe commented on #217
Hmm, I that is a good line to draw actually.

It's pretty specialist functionality, and I don't really want to start implementing stuff that is so specialist in a framework.

So, probably the best change would be to remove the convenience initializers - to make it easier to subclass `UserLocationOperation` and provide a public function which evaluates the received location and returns a Bool. This

[2016-03-24 23:30] danthorpe opened #251 "Refactor Capabilities"
There seems to be a pretty serious issue with the way Capability has its Registrar types. Causing a EXC_BAD_ACCESS somewhere.

Now, as it happens, the `Registrar` protocol stuff can probably be simplified and removed entirely from the constructors. This would be similar to how the `HostReachabilityType` was refactored into a variable property with a default value.

This would grant nicer public in

[2016-03-25 13:13] itsthejb commented on #237
Actually we've seen these cropping up, but only in our test suite... I actually have another issue to report with the same section...

[2016-03-25 13:16] danthorpe commented on #237
Hi @itsthejb, there were some bug fixes related to exclusivity manager in 2.8.1 - so would be good to see if this bug still re-produces?

if you're on Xcode 7.2 & Swift 2.1, then you want to limit your versions to ~> 2.8, or point to branch `swift/2.1`

`development` is now Swift 2.2 and v2.9.0 is about to land....

[2016-03-25 13:17] itsthejb commented on #237
Ok, cool. Just reporting that issue, but it would *appear* to be Swift related rather than Operations related... Still, hopefully helpful info. With that in a couple of mins.

[2016-03-25 13:19] itsthejb opened #254 "swift_conformsToProtocol deadlock in state change setter"
Hi Dan,

Another one of these related to `swift_conformsToProtocol`, as before. It would seem that these parts of the Swift runtime aren't thread safe... In any case, same issue as http://stackoverflow.com/questions/33788606/apparent-deadlock-in-alamofire-request-method, in fact. The deadlock is caused by two threads entering https://github.com/apple/swift/blob/2ded9fe4447553050f08a4d1afe3c92d57b9

[2016-03-25 13:22] itsthejb commented on #237
If it helps at all, we had issues with operation conditions: sooner or later they would hang on evaluating (this is running thousands of the same operations on about 5 threads concurrently). Inspecting the threads didn't reveal a lock, though, they just eventually stopped returning a result and dependent operations wouldn't start

[2016-03-25 13:25] danthorpe commented on #237
Yeah, that is sort of a known issue which we're still trying to figure out how to solve. 😩🤔 See the discussions here: https://github.com/danthorpe/Operations/issues/175 and https://github.com/danthorpe/Operations/pull/180

The best I can figure is that this is some sort of KVO issue with `NSOperation` - and the problem is sort seems to be made worse when using conditions which have dependencies -

[2016-03-25 13:28] danthorpe commented on #254
Oh, interesting... Is that with `.Verbose` log severity set?

[2016-03-25 13:28] ddmus commented on #237
For me, 2.8.1 fixed the mutual exclusivity issue which was crashing the app with the malloc error, so I've added back my MutuallyExclusive conditions and have not seen the crash since then.

[2016-03-25 13:29] itsthejb commented on #254
Yes

[2016-03-25 13:29] itsthejb commented on #254
And also - we are basically still on 2.7.1. Can't update to Swift 2.2 quite yet

[2016-03-25 13:29] danthorpe commented on #254
And, with `> .Verbose` severity it doesn't deadlock?

[2016-03-25 13:31] danthorpe commented on #254
Okay... does this deadlock happen on Xcode 7.2? Or Xcode 7.3?

[2016-03-25 13:31] itsthejb commented on #254
7.2. Are you suggesting this something that's fixed in Swift 2.2? If so, we could certainly do our builds with 7.3, even though our test suite is stuck on <2.2 for now...

[2016-03-25 13:33] itsthejb commented on #254
You mean < Verbose? Possibly, hard to check since it's kinda intermittent.

[2016-03-25 13:34] danthorpe commented on #254
No, not suggesting that at all. Just trying to keep my head straight with all the changes!  😬

But, essentially, what we're saying here is that this deadlock issue has nothing to do with Xcode 7.3 or Swift 2.2. And it's either always been here, or is a regressions introduced by 2.8.0, 2.8.1 or 2.8.2?

[2016-03-25 13:35] danthorpe commented on #254
Err - I guess I mean closer to `.Fatal` then `.Verbose` 😉

[2016-03-25 13:37] itsthejb commented on #254
No, we're on Operations 2.7.1. Probably can't update to the newer version since we're still on Swift 2.1 for now. I'm guessing it doesn't happen with the logging turned down, because we wouldn't enter that section.

[2016-03-25 13:37] danthorpe commented on #254
The reason I'm asking about the log severity is that the logger has a dedicated queue - and the message is in an auto closure. If the severity level is not met, then nothing happens. But, potentially there is an issue with whatever is in the message is causing a deadlock between queues?

[2016-03-25 13:39] danthorpe commented on #254
Yep - so regarding versions. All released versions so far right up to `2.8.2` are for Swift 2.1. Here are the changes from 2.7.1 -> https://github.com/danthorpe/Operations/compare/2.7.1...2.8.2

[2016-03-25 13:42] itsthejb commented on #254
Ah ok - we should probably pull forward. Let me look into that. So many version numbers! Swift, Xcode, Operations...!

[2016-03-25 13:45] danthorpe commented on #254
Yeah - sorry, it's been a bit of a crazy week. I had 3 bug fixes from contributors right in the middle of the switch.

So, probably the best thing to do is to follow my `swift/2.1` branch until you're ready to switch to Swift 2.2. This branch has all of these changes, and will effectively be the "development" branch for Swift 2.1 / Xcode 7.2. So if you make any pull requests - send them there inst

[2016-03-25 13:45] itsthejb commented on #254
Ok, great, will check that out now

[2016-03-25 13:46] danthorpe commented on #254
In the mean time - I'm going to release `2.9.0` now, which is for *Swift 2.2*...

[2016-03-25 13:49] itsthejb commented on #254
:+1:

[2016-03-25 13:57] danthorpe commented on #254
Also - another thing which you might want to look into, is using a custom logger for Operations. See the example project [here](https://github.com/danthorpe/Examples/blob/development/Operations/Permissions/Permissions/AppDelegate.swift#L22) which uses SwiftyBeaver for logging.

[2016-03-25 14:01] itsthejb commented on #254
Yes - in fact we're wiring through CocoaLumberjack now (for the file logging possibilities, mostly). Previously Loggerithm, but that didn't have the support for multiple log outputs

[2016-03-25 14:40] danthorpe commented on #237
@ddmus - can we close this issue now then? If it's not reproducible with your original scenario?

[2016-03-25 15:02] ddmus commented on #237
I agree to close this issue. Thanks.

[2016-03-25 15:06] #237 closed

[2016-03-29 06:35] danthorpe opened #256 "Group operation children are cancelled with parent error"

[2016-03-29 23:14] DavidNix opened #257 "Clearer documentation regarding operation queue"
It was unclear to me I had to use Operations custom `OperationQueue` to schedule operations instead of the standard `NSOperationQueue`.  My operations where not executing and I spent a good while trying to figure out why.

[2016-03-29 23:22] DavidNix opened #258 "Config option for `waitUntilAllOperationsAreFinished`"
A fatal error is raised within `Operation.swift`.

[code]

I agree it's an anti-pattern in *production* code.  For unit tests, however, it's useful to force an operation queue to wait.  There are plenty of methods to wait on async code in tests, but I prefer to keep tests as synchronous as possible.  Async test helpers often rely on arbitrary timeouts (slowing the test suite) and often require mor

[2016-03-30 05:40] danthorpe commented on #257
Hi @DavidNix - sorry that the requirement of `OperationQueue` was not as clear for you as it should be. I've added #259 to include this as part of the the `MyFirstOperation` code sample in the README. Hopefully that addresses your issue?

Out of curiosity, in your *good while* figuring out why it wasn't working, did you look at [the programming guide](https://operations.readme.io/docs)? The use of

[2016-03-30 15:12] DavidNix commented on #257
@danthorpe I extensively read your programming guide.  But I completely missed that part about using your custom `OperationQueue` subclass in the introduction.  I typically jump straight to example code.

You're guide is some of the best documentation I've seen for a 3rd party library.

You're spot with including usage of `OperationQueue` in the `MyFirstOperation` example.  Thank you!

[2016-04-01 06:36] difujia opened #261 "Add relationship among operation conditions."
Hi @danthorpe,

By now the condition mechanism is very straightforward for expressing the readiness of an operation. I'd like to make it a little bit more complex in order to suit more use cases.

Currently a condition has on idea about other conditions hosted by the same operation. In some cases, it would make no sense to evaluate a condition if another condition  is not satisfied, especially whe

[2016-04-01 07:44] danthorpe commented on #261
Hi @difujia - firstly, as always thanks for your contributions and suggestions 😀

I think that yes, conditions are incredibly powerful, and they have the potential to be even more so.  Adding relationships, dependencies, or even nested conditions could and probably will happen. One of the things which I've been thinking about for a v3 of this framework is a re-write of `Operation` as a base protoc

[2016-04-01 07:48] danthorpe commented on #257
@DavidNix great - thanks, going to close this now!

[2016-04-01 07:48] #257 closed

[2016-04-01 09:59] danthorpe commented on #258
Hi @DavidNix - sorry for the delay on getting back to you on this. Been a bit busy at work 😬.

Open to suggestions on how you would do this, but my position at the moment, is that I'm inclined to leave it as it is. Mostly this is because I currently work on a team where they run all their asynchronous code synchronously in the test suite - and there is certainly an element of are we really doing e

[2016-04-01 11:03] danthorpe commented on #254
Hi @itsthejb how did the app release go?

Just checking in to see if there is any update on this?

[2016-04-02 03:23] mooshee opened #262 "NetworkOperation / NSURLTaskOperation crashes if task.state is set to .Finished more than once"
Some libraries (namely: AFNetworking) set the state for the NSURLSessionTask to Finished more than once.  NSURLTaskOperation attempts to unregister the KVO observer each time--crashing on the 2nd attempt.

I ended up using technique similar to the link below with a boolean flag and an NSLock.
https://github.com/pluralsight/PSOperations/blob/master/PSOperations/URLSessionTaskOperation.swift

I'd su

[2016-04-02 07:56] danthorpe commented on #262
Hi @mooshee - thanks for the bug report! I don't use AFNetworking/Alamofire so, didn't know about this.

If you submit a pull request for the bug fix, can you branch from `swift/2.1` and send the PR back to that branch? (And only use Swift 2.1 code). Also please do not change the name. This can then be released in version 2.8.3.

I can then pull the changes into `development` and will consider cha

[2016-04-05 00:20] ryanjm opened #263 "GroupOperation - User Initiated"
I just added this to one of a `GroupOperation` in my project and I was wondering you thought it would make sense in the project itself:

[code]

The reasoning behind this is that often times in a group operation your `init` method will create many additional operations to go into the group. But you can't set the `userInitiated` property until later and you'll usually want that to apply to all oper

[2016-04-05 00:26] ryanjm commented on #263
I tried the `convince init` route and the compiler won't let me due to:

Here was my code

[code]

[2016-04-05 06:52] danthorpe commented on #263
Hi @ryanjm - that for the feedback, quite a subtle yet interesting point here.

First up, yep, I definitely think that `GroupOperation` should set the *quality of service* for its child operations to match its own - which would require an override similar to what you propose here.

But stepping back a bit... this `userInitiated` property is directly from @davedelong's sample code from WWDC. At the

[2016-04-05 17:25] DavidNix commented on #258
Hey there,

Now I'm the cause for the delay!

Your test suite contains over 40 instances of `waitForExpectationsWithTimeout`.
There's nothing wrong using that feature of XCTest. But, synchronous tests
eliminate the need for such boilerplate.

To be clear, I am a fan of synchronous tests for unit tests only.
Obviously, integration/feature tests should be async where appropriate.

My suggestion woul

[2016-04-05 18:00] ryanjm commented on #263
I think the concept of adding `UserIntent` does make the code clearer and easier to understand.

As for adding that to any operation that is added once the group has started, I lean towards it needing to set `userIntent` on those as well. The group encompasses the _work_ expected to be done. If the user initiated it in the beginning, then it should be clear to every related operation that the user

[2016-04-05 18:05] jshier commented on #263
How would this setting affect operations running on queues that have an underlying `dispatch_queue_t` set, which has it's own QoS? I can't find much in the way of documentation about how the two interact.

[2016-04-05 18:25] ryanjm commented on #263
@jshier I'm not sure. Why are you messing with `dispatch_queue_t`? `Operation`s / `NSOperation`s should be running on `NSOperationQueue`s. You can set the QoS on those but according to the [documentation](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/NSOperationQueue_class/#//apple_ref/occ/instp/NSOperationQueue/qualityOfService) it'll be ignored if the operation's QoS is s

[2016-04-05 18:27] jshier commented on #263
No, since I'm talking about setting the `OperationQueue`s `underlyingQueue` to a particular, created queue, so that it's available to the running operations. However, I would think the documentation you cited would cover that case.

[2016-04-05 18:35] ryanjm commented on #263
Then I'd think the same situation applies. I'd think setting the `NSOperationQueue`'s QoS would set the `underlyingQueue`'s QoS. Though I guess that would be something you'd have to test out. Have you found different results? What issue are you running into?

This particular issue is just a mater of how to set the operation's user intent and thus, effect the `qualityOfService` of the operation.

[2016-04-05 18:49] danthorpe commented on #263
@jshier I don't know for sure how `NSOperationQueue` interprets this. I need to read the documentation - good find @ryanjm. But also I guess need to find out how `dispatch_queue_t` also works when it has a target queue. My instinct says that `NSOperationQueue` would select a new target queue with the corresponding QoS from the global pool, but only if the underlyingQueue is not explicitly set? But

[2016-04-05 18:50] ryanjm opened #264 "Error & Alert handling examples"
I think the documentation is lacking in some best practices around error handling and how to present alerts.

For example, if you have a group operation, `UpdatePostsOperation`, that creates multiple operations under it, `UpdatePostOperation`, how should the errors be handled? You might only use the group operation in one part of the code and the normal operation in another part. In the first part

[2016-04-05 18:52] ryanjm commented on #263
:+1: Thanks.

[2016-04-05 20:08] danthorpe commented on #264
Hi @ryanjm - I agree with you that there are improvements that can be made on best practices with regard to error handling. You are now the 2nd person to ask this question: https://github.com/danthorpe/Operations/issues/238

You have some really good questions here, and I don't think there are any definitive answers. As with everything in programming, it is a matter of tradeoffs.

But a couple of

[2016-04-05 20:21] ryanjm commented on #264
@danthorpe Sorry for not finding the other question, but thanks for pointing it out.

Re blog posts / write up for wiki: That also sounds good. Once I get my head around these topics and we finish implementing it in our project I'd be happy to do both.

Thanks for the information about `ErrorType` & `NSError`, I guess I should have looked closer :smile:. And I'll look at trying to write a better `

[2016-04-05 20:33] danthorpe commented on #264
No problem.

One other thing which I'm just thinking about, trying out is *having a dedicated Slack team/channel* for discussion on Operations.

I've previously used Gitter - but lets face it, people use Slack, and I'm more likely to be signed into Slack to respond to people. So if you use Slack, see if you can join https://danthorpe.slack.com/ there is an `#operations` channel.

[2016-04-05 20:39] danthorpe commented on #264
Also - totally aware how weird, pretentious, ego-driven, self-serving it is having a Slack channel for my own open source projects. But it just seems like the most sensible thing to do to encourage more free flowing discussion about these things.

[2016-04-05 20:44] jshier commented on #264
Says I need a login and password, though I don't know how open Slack channels are supposed to work.

[2016-04-05 20:46] danthorpe commented on #264
@jshier - yeah, neither do I actually. I'm reading up.... but I can invite you directly.

[2016-04-05 20:46] ryanjm commented on #264
People have to be invited to a Slack group. There are [rails sites](https://github.com/outsideris/slack-invite-automation) setup to help automate that process (I'm not endorsing that one, just the first one that showed up)

[2016-04-05 21:10] danthorpe commented on #264
Okay, will look at getting slackin (or equivalent) setup for this. Although happy to invite people directly too. @jshier - you should have received an email.

[2016-04-06 06:08] danthorpe commented on #258
Okay - thanks for getting back me! Will close this now.

[2016-04-06 06:08] #258 closed

[2016-04-06 06:09] danthorpe commented on #254
Hi @itsthejb - gonna close this for now. Feel free to re-open it if you are still experiencing this issue.

[2016-04-06 06:09] #254 closed

[2016-04-07 18:09] danthorpe commented on #263
Gonna close this, as PR merged. Will be released in 2.10

[2016-04-07 18:09] #263 closed

[2016-04-08 07:46] danthorpe opened #266 "Merge bug fixes for 2.8.3 into development"

[2016-04-08 11:58] pronebird opened #267 "Deadlock"
Hi,

I am investigating the issue with stale operations in Operative framework that is built in Objective-C and is very similar to Operations because both frameworks are inspired by Advanced Operations session from WWDC.

Sometimes operations do not start after transition to .Ready state. This creates a congestion in operation queue. Sometimes I see deadlock like this:

<img width="514" alt="scree

[2016-04-08 12:51] danthorpe commented on #267
Hi @pronebird - will take a look into this over the weekend

[2016-04-08 14:17] novixon opened #268 "iOS 7 support"
Hello! I want to try "Operations" in production, but the minimum deployment target of our app is iOS 7.1. Is it principal decision not to support iOS 7 or there is some kind of technical problem which you didn't resolve yet?

[2016-04-08 17:28] danthorpe commented on #268
Hi @novixon - thanks for your feedback!

Unfortunately, because the project is written in Swift, and dynamic libraries require iOS 8.

[2016-04-08 17:28] #268 closed

[2016-04-08 18:55] danthorpe commented on #267
Hi - this looks to be very similar to a bug that has already been investigated: See #175 and #180.

The best we can figure is that it boils down to an issue with KVO.

[2016-04-08 22:14] danthorpe commented on #267
Yep - pretty sure that this is a duplicate of #175. Gonna close it for now.

[2016-04-08 22:14] #267 closed

[2016-04-09 12:16] danthorpe opened #271 "Further investigations into KVO issues"
This is to pick up some stuff which @pronebird is working on.

[2016-04-10 15:39] pronebird commented on #175
I made a sample project that somewhat resembles a very simple version of Operations.

https://github.com/pronebird/NSOperationReproducingRaceCondition

There is no problem as long as operation transitions to `.Ready` once super.isReady turns true. However, everything breaks if operation transitions to `.Ready` anytime later (think evaluator).

That seems to be the case with Operations too, because

[2016-04-10 15:48] danthorpe commented on #175
@pronebird - yeah, we confirmed that adding conditions certainly makes the issues 100% reproducible given enough `Operation` instances. I debugged the evaluator quite carefully - could well be the bug I suppose.

One possible avenue to investigate is to re-create using `NSOperation` only, and add an operation dependency to each invoked operation. If this makes the bug reproducible, then it adds mo

[2016-04-10 22:19] pronebird commented on #175
@danthorpe updated my repository. Added simple async operation that does not control readiness, chained 500 operations with dependencies. Everything is fine. Something tells me we simply cannot safely manipulate isReady.

[2016-04-11 08:09] danthorpe commented on #175
@pronebird okay, so, it looks like adding some asynchronous logic around `ready` causes issues - either due to conditions (asynchronous evaluator) or mutual exclusivity (asynchronous exclusion lock). Will try to find the time to debug it more this week.

[2016-04-11 10:01] difujia opened #272 "Behavior of produceOperation is inconsistent in GroupOperation."
I've just noticed the change and I know this is intended. But I would still like to point out that this makes `produceOperation` and `addOperation` be identical on `GroupOperation`, which in turn produces redundancy. More importantly, this change has made no way for `GroupOperation` to really produce an operation that does not belong to this group. I think the old behavior would still be needed in

[2016-04-11 12:19] danthorpe commented on #272
Hi @difujia - thanks for the feedback on this.

Yes, it was intentional - I'll need to look back at the history for the details on this. I don't have any objections to restoring the original behavior. Absolutely agree that as it stands it currently "breaks" `finally`.

I will investigate the reasoning behind the change, and the impact and get back to you.

[2016-04-11 12:19] danthorpe commented on #261
@difujia - any more comments on this?

[2016-04-11 13:51] difujia commented on #261
@danthorpe I'm very happy to see that this project is moving to the next milestone, good job 💪.

I think it would take a bit of time for v3.0 to come out, so in the meanwhile I'm trying to build the relationship bits on top of current infrasturcture. Once I've got some decent progress, I will open a new PR for discussion. So I think you could close this as you wish.

[2016-04-11 14:09] danthorpe commented on #261
@difujia - okay, will be interested to see how it goes!

Regarding v3 - although I've been meaning to make a start on it for a while. I am kinda hoping that I'll be able to have it done or close to being done by WWDC - so that when Swift 3.0 comes out, we'll be looking at a v4 of Operations.

[2016-04-12 11:49] pomozoff opened #274 "Vacuum operation queue"
While app is running there are many finished operation with dependencies in the queue still alive and utilize a little bit of memory.
I do not need the most part of them anymore.
How to release unneeded operations to clean up a little memory?

[2016-04-12 13:05] pronebird commented on #175
Another extra bit of information:

calling `-cancel` on .Ready operation does in fact pumps up the queue, operation then receives `-start` properly. `-cancel` method of NSOperationInternal manually fires KVO notification for `isReady`.

[2016-04-12 19:15] danthorpe commented on #274
Hi @pomozoff - thanks for bringing this to my attentions - I wasn't aware that this might be happening.

Is it possible for you to share some minimal example of how this might happen? As you describe it - it sounds more like a bug, which should be fixed. So, what would be useful to know:

1. What is the operation dependency graph when you add them to the queue.
2. What are the operations which are

[2016-04-12 21:41] danthorpe opened #275 "Fix Slather / Code Coverage"

[2016-04-12 21:45] ryanjm opened #276 "Improved BlockCondition"
Regarding number 3 from #264 which was about the `BlockCondition` not being able to handle custom error messages.

I created my own block condition which takes a throwing block. This is super rudimentary right now but it does let the block throw its own error to pass along.

Right now, the return type is ignored and I'm not sure how that should be handled yet. If the condition is to fail, it seems

[2016-04-12 22:03] danthorpe commented on #276
Hi - yeah, I think this is a good way to go. Certainly makes sense to start introducing Swift 2.0 style APIs such as throwing errors. So, pretty sure that we can incorporate this style. Will get back with more info about how I think we should proceed with this, as I'd like to make the same change in `BlockOperation`.

[2016-04-13 01:34] felix-dumit opened #277 "Execute one at a time Operation Condition"
I'm looking for a way to ensure all operations of a certain kind happen one at a time, these operations can be created at different points in the app so I don't think I can have a set `GroupOperation` with `queue.maxConcurrentOperationCount = 1` I can keep adding operations too.

Basically I'm looking for something similar to the `MutuallyExclusive` condition, but that instead of erroring the seco

[2016-04-13 14:08] danthorpe commented on #277
Hi @felix-dumit - I think probably the best thing to do here is create your own `OperationQueue` subclass?

[2016-04-13 16:28] pronebird commented on #175
I've been trying to fix this for entire week.

The only solution I came up with was to chop off Operation state and get back to good old override of `isExecuting` and `isFinished`. I don't override `isReady` as it seems to create all kind of havoc in NSOperation internals.

Condition evaluator is simply wrapped in block operation and added as dependency for main operation to run. Evaluation errors

[2016-04-13 16:48] danthorpe commented on #175
This is fantastic - okay, I will take this approach and do a refactor of `Operation`. Really really appreciate all your efforts on this.

If you want to put your changes together into a PR that would be great - but no worries if you don't want to. I want to refactor conditions into `Operation` instances anyway.

[2016-04-13 16:55] danthorpe opened #278 "Refactor OperationCondition to work as a operation dependency"
The aim here is to take `OperationCondition` and change it so that the evaluation of the condition which already happens asynchronously before the operation executes is just an `Operation` instance which becomes a dependency of the target operation.

Internally, this will be managed using a `GroupOperation` so that can evaluate multiple conditions.

`OperationCondition` supports the concept of opt

[2016-04-13 17:30] felix-dumit commented on #277
@danthorpe I'm not sure if it will work in my scenario because this operation is usually executed as part of a `GroupOperation`, and they won't all be under the same Group.

Currently my workaround was to wrap the `execute` method in a `dispatch_barrier_sync` call on a created `dispatch_queue`

[2016-04-13 19:47] pronebird commented on #175
@danthorpe

Thanks for brainstorming and debugging with me!

I'd love to help with PR, however I am afraid I am really behind the schedule with my app since I killed about a week trying to approach the problem in a less radical way. You can take a look at my PR for Operative and adapt it for Operations.

I wrote stress tests for Operative. Currently we run about 1M operations in batches on both mu

[2016-04-13 20:51] phausler commented on #175
see https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/NSOperation.swift at line 59 for some background on why this is the case. Unfortunately the completion block is a bit cagey and dependencies should be used if order is important.

[2016-04-13 20:53] jshier commented on #175
@phausler The open source Foundation implementation of `NSOperation` has nothing to do with the implementation offered by Foundation on Apple platforms.

[2016-04-14 07:37] danthorpe commented on #277
Okay - that's a fairly pragmatic approach.

I'm gonna close this issue, sounds like you've got it sorted, and it's not something that the framework will support directly.

[2016-04-14 07:37] #277 closed

[2016-04-14 10:50] ffittschen opened #279 "iOS Extensions Operations scheme overrides iOS Operations scheme with carthage"
Hi,
I tried to use the `NetworkObserver` and wondered, why Xcode showed the error "Use of unresolved identifier 'NetworkObserver'".

When building the framework with carthage, it first builds the `iOS Operations` scheme and afterwards it builds the `iOS Extensions Operations` scheme which overrides the framework in the `Carthage/Builds` folder.

[code]

Is there any way to avoid this behaviour?

[2016-04-14 15:57] ffittschen opened #280 "Crash when adding Capability.Photos() condition"
Hi,
when I add a condition to an operation using `addCondition(AuthorizedFor(Capability.Photos()))` I always get a crash with this error message:
[code]

Shouldn't [this line](https://github.com/danthorpe/Operations/blob/development/Sources/Features/iOS/PhotosCapability.swift#L78) use `PHPhotoLibrary.sharedPhotoLibrary()` instead of `PHPhotoLibrary()`?

[2016-04-14 18:39] danthorpe commented on #279
Hi @ffittschen - thanks for your feedback!

Yeah, this is a bit of a problem which we've had for a while ☹️😔. It's due to the way that Xcode outputs it's products & Carthage builds targets.

We have an existing issue for this: #112  At the moment, I suggest forking the repo - and deleting the xcodeproj which you don't want.

Unfortunately, I don't know how this will actually be resolved. I hope th

[2016-04-14 18:39] #279 closed

[2016-04-14 18:40] danthorpe commented on #280
Oh! Great catch - will look into this, and why it's not getting caught by the unit tests...

[2016-04-14 20:53] #276 closed

[2016-04-14 22:36] #280 closed

[2016-04-14 22:39] danthorpe commented on #280
Hi @ffittschen - this is fixed, in `development` branch. It will get released as part of version 2.10.0 early next week I expect.

In the meantime, you can use `development` in your own project, either by pulling origin into your fork, or pointing to `pod 'Operations/+Photos', :git => 'https://github.com/danthorpe/operations', :branch => 'development'` in your Podfile.

Thanks for reporting this -

[2016-04-15 01:02] felix-dumit commented on #277
Yeah ok, I was just wondering it there was another way to do it that would be more reusable for other operations

[2016-04-15 11:38] matt-holden commented on #202
Is this still desired?  I'm interested in contributing to this project and would love to grab an isolated task to get my feet wet.

If yes... could you elaborate on the requirements for `UIActivityIndicatorViewObserver`?

Thanks!

[2016-04-15 17:47] danthorpe commented on #202
Hi @matt-holden - would be great to get contributions for this 😀

Currently, exactly how this would work got a little bit sidetracked (at least inside my head) by the discussion in #218.

But, putting that to one side, I think for this we just want something which conforms to `OperationDidStartObserver`, `OperationDidCancelObserver` and `OperationDidFinishObserver`.

We should decompose the API fo